[2017-08-14 17:23] R2wenD2 opened #1 "Remove UNKNOWN type from spec"
We don't have any solid use cases for unknown.

[2017-08-14 17:27] R2wenD2 opened #2 "Add change history to track changes in occurrences over time."

[2017-09-06 15:43] #1 closed, assigned to R2wenD2

[2017-10-08 13:37] R2wenD2 opened #26 "Add an optional checksum field to occurrences"

[2017-10-08 15:05] R2wenD2 opened #28 "Add Authorization to reference implementation"

[2017-10-08 15:05] R2wenD2 opened #29 "Implement filtering in reference implementation"

[2017-10-08 15:16] R2wenD2 opened #31 "Reference Implementation: operation names are not currently validated when tied to notes/occurrences"
Validate that operations exist, return an error if a referenced operation does not exist.

[2017-10-11 15:23] R2wenD2 opened #38 "Document how to add a new kind and regenerate libraries"

[2017-10-11 15:35] R2wenD2 opened #40 "Add CRUD for projectIds to the api"

[2017-10-12 18:42] vbatts commented on #2
this would be force pushing history? or obsolete now that the repo is public?

[2017-10-12 18:48] vbatts commented on #26
left up to input sources as to what the checksum pertains to?

[2017-10-12 18:49] vbatts commented on #38
regenerate like #46 does?

[2017-10-12 19:00] R2wenD2 commented on #26
This is open here for more discussion. This could potentially be a structured checksum field.
As an example, in the case of a docker container image, a user might not care about the entire url (which registry/project the image came from), but only about the digest. So the checksum is meant to be an alternative identifier to resourceUrl.

[2017-10-12 21:11] R2wenD2 commented on #38
Yeah, for backward compatible changes, #46 will handle it.

[2017-10-12 21:13] R2wenD2 commented on #2
Not for the source code, rather a change tracking for the resources stored in Grafeas. As an example capturing who has updated an occurrence and how it has changed.

[2017-10-12 22:11] vbatts commented on #2
Oh oh, an audit trail, yes

On Thu, Oct 12, 2017, 17:13 R2wenD2 <notifications@github.com> wrote:

[2017-10-13 18:28] R2wenD2 opened #50 "[Proposal] Use Protocol Buffers as spec definition format rather than OpenAPI(swagger)"
## Current Issue:

- The current swagger code generation process is unruly, generated code is checked in.
- Each implementation of the spec needs to create a router to handle request paths.

## Reasons to use protocol buffers

- Protocol buffers with GRPC allow us to define http request options in the spec, so routers don't need to be self implemented.
- In addition, proto code can easily be gener

[2017-10-13 18:33] R2wenD2 commented on #50
@chen-keinan and @vbatts I mentioned this to both of you privately - Can you review give feedback here?

Thanks!

[2017-10-13 18:37] vbatts commented on #50
(carried over comment from email)
Cool. From my experience, protobuf to jsonschema are not a one-to-one, and ultimately _something_ needs to be decided as the authoritative source.
Given that this is an API, it could go either way (grpc or more RESTish).

On Oct 13 2017, at 2:33 pm, R2wenD2 <notifications@github.com> wrote:

[2017-10-13 20:10] vbatts opened #51 "License tracking"
For providers and scanners of binaries, and potentially their links to sources, it is a notable criteria to ensure LICENSE conformance. I could imagine this as a gating check.

Would data like LICENSE type live in https://github.com/Grafeas/Grafeas/blob/master/v1alpha1/grafeas.json#L1068 as a label on the source?

[2017-10-13 20:55] bitvector2 commented on #50
+1 for GRPC!

[2017-10-16 04:13] pombredanne commented on #51
And it could make sense to hone in something like the SPDX license ids and expressions to have a portable way to document licensing.

Disclosures: I am also the maintainer of https://github.com/nexB/scancode-toolkit so I'd like to chime in on this topic. And a contributor to SPDX.

[2017-10-16 06:02] R2wenD2 commented on #51
I've envisioned LICENSE as a separate kind.

- A license note would contain information about the license itself. This can include the SPDX ids and expressions
- A license occurrence would tie a resource back to a license.

This would allow the same resource to easily tied back to multiple Licenses, as well as an easy way to look up all resources that use a specific license.

[2017-10-16 06:28] pombredanne commented on #51
@R2wenD2 that sounds reasonable. And this circles back to #38 ... I guess for now a PR would do?

[2017-10-16 06:37] pombredanne opened #55 "Avoid using unicode punctuations in schema docs"
This is minor but a possible source of inconveniences in the future: see https://github.com/Grafeas/Grafeas/blob/dda9654a580daec8c8ec7e16eed67589e2a80324/v1alpha1/grafeas.json#L1301

[2017-10-16 07:23] R2wenD2 commented on #51
Lets start with a n issue with the label kind/proposal to propose the schema?

[2017-10-16 07:29] R2wenD2 commented on #55
Per https://github.com/Grafeas/Grafeas/issues/50 I'm going to migrate this to proto w/ GRPC (I hope to have the initial proto ready for review today). So this shouldn't be an issue going forward.

[2017-10-16 10:34] chen-keinan commented on #50
I'm in favor for GRPC, it's much flexible, faster and simplifies the programming paradigm.

[2017-10-18 01:33] dnascimento commented on #50
+1 for GRPC

[2017-10-18 01:42] dnascimento opened #59 "Signed artifacts"
These artifacts are critical for control and audit proposes, they must be signed by the author in a model similar to [Notary](https://github.com/docker/notary). It's complex to implement, we should consider leveraging a project like Notary.

Moreover, the storage must be irreversible (a la blockchain). [CHAINIAC](https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/ni

[2017-10-18 01:48] dnascimento opened #60 "Kritis"
Where is Kritis source code? I'm looking for the policy verification engine.

[2017-10-18 08:09] R2wenD2 commented on #60
@nenaddedic When will Kritis source code be available?

[2017-10-18 21:52] sandraguo commented on #60
@dnascimento @R2wenD2
Kritis doesn't currently have an open source implementation yet. We have a white-paper describing the high level approach with Kritis that we'd love to hear your input. At the mean time, please fill in the interest [form](https://docs.google.com/forms/d/e/1FAIpQLSdr8kDTkAkml5f9TW_kzz06C0s0QuV_sWYzHC7NM90F5CZ2bQ/viewform) and we will let you know when we have any updates.

[2017-10-18 22:11] dnascimento commented on #60
Happy to provide that input, can you share the white-paper with me?

[2017-10-18 22:13] sandraguo commented on #60
@dnascimento It is checked in here: https://github.com/Grafeas/Grafeas/blob/master/case-studies/binary-authorization.md

[2017-10-19 15:27] R2wenD2 commented on #50
https://github.com/Grafeas/Grafeas/pull/61

Introduced proto - need to update ref impl to use proto and generate files as well.

[2017-10-19 15:30] R2wenD2 opened #62 "Use golang/dep for managing the vendor tree"
golang dep is the new/recommended way to handle deps.

[2017-10-20 05:30] allisterb opened #63 "grafeas.json isn't compatible with Swagger tools"
So far I've been unable to use the Swagger JSON spec at https://raw.githubusercontent.com/Grafeas/Grafeas/master/v1alpha1/grafeas.json to generate any client or server code for the Grafeas API.

Using swagger-ui gives an error: "Parser error on line 523 duplicated mapping key"

Using NSwag, a .NET code generator for Swagger specs, throws a deserialization exception: "Requested value 'tags' was not

[2017-10-20 08:18] R2wenD2 commented on #63
I'm planning to remove the json in the next few days. Please use the protocol buffer instead. Thanks

[2017-10-20 08:18] #63 closed

[2017-10-20 16:31] vbatts commented on #50
@R2wenD2 how is your `protoc` installed your build host?
On master (2ff2bea) I'm getting:
[code]

[2017-10-20 16:34] vbatts commented on #50
oh. bugger. the fedora protobuf package doesn't have them, but they're in the -devel subpackage. Sorry for noise. :-|

[2017-10-20 17:43] vbatts commented on #50
I opened #64 to clean things up a bit. Though I'm looking at the go source is the compiler is not passing through comments.
Looks like kubernetes is using https://github.com/gogo/protobuf which does seem to pass through the comments, allowing for more consumable golang source. Thoughts?

[2017-10-20 20:22] R2wenD2 commented on #50
I'm fine with using gogo/probuf in place of the other generated files.

[2017-10-24 12:13] vbatts commented on #50
I'm still looking at getting the gprc interfaces to be generated.

On Fri, Oct 20, 2017 at 4:22 PM, R2wenD2 <notifications@github.com> wrote:

[2017-11-06 08:23] furuholm commented on #59
@dnascimento: Fully agree with you! One question: when you say "This is part of the MVP", is that a statement of what you think should be part of the MVP or are you stating a known fact?

[2017-11-06 09:09] dnascimento commented on #59
This should be part of the minimum viable product

[2017-11-07 02:35] vbatts commented on #50
https://github.com/grpc-ecosystem/grpc-gateway seems to be a popular enough grpc REST bridge

[2017-11-13 15:07] pombredanne opened #65 "[Proposal] Adopt the "purl" package URL spec to identify software packages"
The initial [README](https://github.com/Grafeas/Grafeas/blob/b8ce70a4a88e18575e1d2d91912c156b078d5a8f/README.md#resource-urls) contains this section...

---------------

## Resource Urls
Component resource Urls need to be unique per resource as well as immutable. This will mean that the metadata associated with a resourceUrl will always be associated with exactly one component, and what is pointed

[2017-11-13 17:32] pombredanne commented on #65
@R2wenD2 here we go as promised!

[2017-11-14 04:43] vtsao opened #69 "Split up the grafeas.proto file."
Split this file up like we do internally, right now it's massive and hard to sync from internal protos.

[2017-11-15 19:36] R2wenD2 commented on #65
Thanks @pombredanne I'll review and leave comments early next week.
I don't think this changes the much for Grafeas - would just require the API implementation to handle and validate the revised formats.

[2017-11-16 07:01] pombredanne commented on #65
Thanks!

Indeed, and that's part of the intent.

FWIW there is a mention of a Go implementation in progress on the PR at https://github.com/package-url/purl-spec/pull/1#issuecomment-344409842

[2017-11-16 18:17] vbatts commented on #69
good stuff. Is this something you are going to work on?

[2017-11-16 19:48] vtsao commented on #69
Yup.

[2017-11-16 19:50] vbatts commented on #69
cool

[2017-11-24 14:45] furuholm opened #73 "Replace references to Google Cloud Storage"
The grafeas schema contains several references to Google Cloud Storage (samples/server/go-server/api/storage_source.go, samples/server/go-server/api/build_provenance.go). I think these fields should be replaced by something less specific.

[2017-11-26 08:34] hpejustin commented on #73
Yeah, we are on the same page. File "samples/server/go-server/api/source.go" contains ArtifactStorageSource field, type of this field is StorageSource(only references to Google Cloud Storage). This is also too specific, other storage should be supported too.

[2017-11-26 08:55] hpejustin commented on #2
@R2wenD2 @vbatts any proposal there now ?

[2017-11-26 08:59] hpejustin commented on #26
@R2wenD2 yes, in some case, user use latest tag, but the content may be not the same, so they need checksum to identify them.

[2017-11-26 09:01] hpejustin commented on #28
@R2wenD2 RBAC will be a good choice.

[2017-11-26 09:02] hpejustin commented on #29
i think a go-restful based framework should be imported, https://github.com/hpejustin/depark this can be a good example.

[2017-11-26 09:11] hpejustin commented on #59
@dnascimento @furuholm i think this is meaningful, one artifact may have more than one signed certification, such as security、compatibility and performance and so on.

[2017-11-26 09:17] hpejustin commented on #60
@dnascimento i known very well of kubernetes scheduler source code, the design is very similar with policy verification engine. i think we can think about it.

[2017-11-26 18:55] furuholm opened #74 "Project listing API"
I am planning to write a simple frontend for Grafeas. To do this I need to list projects but as far as I can see there is no API for this (right?)

If it is agreed upon that this is a good idea I would be willing to submit a PR for this.

[2017-11-27 08:49] antweiss commented on #74
I agree this is a necessity.

[2017-11-28 02:02] hpejustin commented on #74
@furuholm i think it is a good idea, need any help, just feel free to let me know.

[2017-11-28 15:54] brianf commented on #65
Maven has a few more coordinates that can come into play in some instances: packaging and classifier. The typical ordering looks like this:
groupId:artifactId:(optional)packaging:(optional)classifier:version

While GAV may be sufficient for many cases, there will be times where some attestation needs to apply to one classifier and not another, or one package and not another. We should expand the s

[2017-11-28 16:20] pombredanne commented on #65
@brianf yes Maven has these and these are not the norm. They also in most derive from the same source, hence for these they would be treated as optional qualifiers in https://github.com/package-url/purl-spec/tree/a21a9ecbab171fe06d1ac88843bc3721a42dbed0

    maven for Maven JARs and related artifacts
    - The default repository is maven.org
    - The group id is the namespace and the artifact id

[2017-11-28 16:25] pombredanne commented on #65
@brianf It would be awesome if you want to chime in on the purl spec btw. The initial and a tad messy PR is there https://github.com/package-url/purl-spec/pull/1 and received comments from dpkg, nuget, spak, npm and several important package format maintainers and many others. Going forward a ticket is better.
Having a JVM implementation is also needed!

[2017-11-28 16:46] brianf commented on #65
Is the intent of the purl spec to replace the one in the README? If not, how do they correlate?

[2017-11-28 18:15] pombredanne commented on #65
@brianf that's the intent of this ticket to propose a replacement for the one of the README alright

[2017-11-28 18:16] pombredanne commented on #65
The purl spec extends a bit beyond Grafeas as it also caters to other tools, DB and APIs such as libraries.io, victims, openshift analytics, aboutcode.org projects and a few more.

[2017-11-29 13:37] sdboyer commented on #62
i'm happy to lend a hand on this if needed, btw 😄

[2017-11-29 13:38] sdboyer commented on #62
though, worth noting that we just merged `govendor` support a couple days ago. when we roll the next release, `v0.4.0`, conversion might/should hopefully be as simple as a `dep init`.

[2017-11-29 14:29] furuholm commented on #50
What's the status of this? I was planning to implement project listing (#74) but I'm not sure if I should complete the implementation using the swagger generator or if I should wait until the gprc infrastructure is in place. Suggestions and thoughts?

[2017-11-29 14:43] furuholm commented on #74
A question: should `Project` be its own type in the schema with a single field `ProjectId`? The alternative would be to represent projectId as a string.

[2017-11-29 14:57] R2wenD2 commented on #50
grpc is in progress. Sorry for the delay - I think its probably worth waiting for. I'm hoping to have the issues worked out by end of week or early next week.

[2017-11-29 15:00] R2wenD2 commented on #62
@sdboyer Thanks! when do you expect v.0.4.0 to roll? I don't think there's a particular rush here, so we can wait.

[2017-11-29 15:06] R2wenD2 commented on #74
@furuholm We can create a separate service (in a separate proto) for projects, we need the whole CRUD for them, (although update probably won't be needed as its just string field). Grafeas only references the string - so this can start out super simple, and as we dig deeper in to ACLs we'll likely need to expand.

[2017-11-29 15:11] R2wenD2 commented on #73
I'm open to proposals for:
- Additional storage sources
- A scheme for a more generic storage source.

It's probably easier to reference the [proto](https://github.com/Grafeas/Grafeas/blob/master/v1alpha1/proto/grafeas.proto) when making proposals/reasoning about this.

[2017-11-29 15:12] R2wenD2 commented on #74
Also, please see https://github.com/Grafeas/Grafeas/issues/40 which I believe this issue is a duplicate of.

[2017-11-29 15:18] furuholm commented on #74
Started working on this earlier today and started super simple by parsing projects from existing notes and occurrences (see https://github.com/furuholm/Grafeas/commit/ec083e56908fbbac75bfb67154b88787a65dbea2). But if we go full CRUD on this (as I suspect we will as you already created an issue for this 😄) then this is a duplicate of #40.

Closing this in favor of #40.

[2017-11-29 15:18] #74 closed

[2017-11-29 15:32] furuholm commented on #40
Should it be possible to create notes/occurrences for projects that doesn't already exist?

[2017-11-29 15:45] R2wenD2 commented on #40
It should not, the Grafeas storage layer should check for existence of project prior to creating a note/occurrence. This can be handled using a projects db table (which is probably the easiest way to do this for the reference implementation).

[2017-11-29 15:47] furuholm commented on #40
Db table? But there is no database in the reference implementation at this point. Right?

[2017-11-29 15:52] R2wenD2 commented on #40
I'm using the term database loosely :) We should have a separate map for projects in the storage layer.

[2017-11-29 15:58] furuholm commented on #40
That is quite loose 😄

A map we can do. How about a map[string]bool to emulate a set (as we don't have anything but projectId which would then be the key)?

[2017-11-29 17:19] sdboyer commented on #62
cool cool 👍

we're basically just polishing up golang/dep#943, so that `dep prune` will no longer need to be a thing. milestone is here: https://github.com/golang/dep/milestone/4

in other words, it's been "this week" for a few weeks now. 😄

[2017-11-29 19:13] vbatts commented on #62
Oh cool. I'm all for "simpler".

On Wed, Nov 29, 2017, 12:19 sam boyer <notifications@github.com> wrote:

[2017-11-30 09:15] furuholm commented on #40
I have implemented the storage layer (https://github.com/furuholm/Grafeas/tree/project-crud). I guess that there is not much more to do before #50 has been completed?

[2017-11-30 17:09] sdboyer commented on #62
errr, whoops, i misremembered that issue number - much as i love 933, the relevant issue is golang/dep#944 😄

[2017-12-02 13:50] hpejustin commented on #29
i think, we can add Label or Annotation properties to Note and Occurrence, in that case we can use filter to list them.

[2017-12-04 16:06] R2wenD2 commented on #29
The intention here is to allow filtering on fields that already exist as a part of the occurrence or note. I don't see a case for additional labels or annotations.

The implementation will to parse a query string, reading key,values where keys are the fields of our resources.

[2017-12-06 13:41] furuholm commented on #73
There should probably be a generic "url source" at least. Can Google Cloud Storage objects be represented with urls?

[2017-12-07 15:18] kudvanpk opened #78 "Plugins"
At the KubeCon BoF there were three hooks discussed to the core metadata DB (Grafeas core),
1. Producers  (for each artifact, metadata in different formats, from different toolss/sources)
2. Consumers (Analysis, prioritization, machine learning across metadata/artifact types)
      Tooling to perform analysis across artifacts. Combine queried information to create risk scores. For example image re

[2017-12-11 14:55] R2wenD2 commented on #29
We'll use one of the following filtering specs:

- https://github.com/google/cel-spec
- https://cloud.google.com/logging/docs/view/advanced_filters

Both of them require an accessible parser - I'm following up on that.

[2017-12-12 10:32] furuholm commented on #40
@R2wenD2 I have rebased my project-crud branch on top of https://github.com/Grafeas/Grafeas/pull/79 (https://github.com/combient/Grafeas/tree/project-crud). Will look at the API next. What steps are involved in generating the code?

[2017-12-12 14:29] furuholm commented on #40
@R2wenD2 I have implemented the API as well. I guess you prefer a PR once you have merged https://github.com/Grafeas/Grafeas/pull/79 into master?

[2017-12-12 15:47] R2wenD2 commented on #40
@furuholm a PR once #79 is merged would be great :) After we get them both in I'll regen the client libs.

[2017-12-12 16:48] lizrice commented on #65
The container image referencing in the purl spec looks good to me

[2017-12-13 09:27] pombredanne commented on #65
@lizrice Thank you for the valuable feedback!

[2017-12-13 13:59] furuholm opened #82 "Consistent naming of Note and Occurrence kinds"
Two of the Note kinds are postfixed "Type" (VulnerabilityType and BuildType) but not the rest of them and three of the Occurence kinds are postfixed "Details" (CustomDetails, VulnerabilityDetails and BuildDetails) but not the rest of them.

I think this should be made consistent while the API is considered unstable. I don't think Type is great, but I am fine with no postfix, Details or something e

[2017-12-18 21:00] R2wenD2 commented on #82
This shouldn't be too difficult of a fix - and I'm supportive.
For notes, I'd be fine with just using the camel case name for the Type (here: https://github.com/Grafeas/Grafeas/blob/aae00b1f1853d8a253f98380c0232030f08d82eb/v1alpha1/proto/grafeas.proto#L642)

And for Occurrences, I like the details postfix because its giving details of a specific thing everywhere.

But I'm also fine with using Deta

[2017-12-18 21:04] R2wenD2 commented on #78
At least some of the tooling that we discussed may be blocked by https://github.com/Grafeas/Grafeas/issues/29. I'm working out how to best get open source list filtering into Grafeas, you should see progress there in the coming weeks.

@kudvanpk Are you planning to write tooling? I'm not sure if anyone else is actively working on tools at this point.

[2017-12-18 21:06] R2wenD2 commented on #65
I think everyone is happy with this proposal, we'll just need to add the verification to the reference implementation and documentation.

[2017-12-18 21:11] R2wenD2 commented on #50
@vbatts I'm going to get grpc-gateway setup before closing this issue.

[2017-12-19 07:12] furuholm commented on #29
One aspect of this could be to go for a format that can be transformed into a database query, or will that be too restrictive?

[2017-12-19 13:42] R2wenD2 commented on #29
We need a few things:
1) A parser that will parse and validate a filter expression from query string
2) A mapping of Keys to database fields (which I think is what you're referring to, @furuholm

I'm working with the cel team to create part one of this, but once we have that part 2 can follow quickly.

We also need a real database, but that's a separate issue.

[2017-12-19 13:50] furuholm commented on #82
Great! I have no strong opinions on where to use details or not so do what you think works best.

[2017-12-19 13:59] furuholm opened #84 "Add database storage backend"
A database will be required to run Grafeas in anything but development mode.

[2017-12-19 14:01] furuholm commented on #29
Added #84 to address the database

[2017-12-19 15:01] R2wenD2 commented on #84
We would get a lot of flexibility for querying various metadata by using Elastic (https://github.com/elastic/elasticsearch) in development go client: https://github.com/elastic/go-elasticsearch

[2017-12-19 21:13] furuholm commented on #84
Sounds like a good idea.

Any ideas on type of database? Normalizating all those nested fields will be messy and require lots of join ops during querying so if we go the SQL route (which seems reasonable to me) it’s probably a good idea to store some of the data in serialized form.

[2017-12-19 22:08] R2wenD2 commented on #84
PostgreSQL would be a good option, as we could use the built in [text search] (https://www.postgresql.org/docs/current/static/textsearch-features.html) if we parse incoming protos into documents.

We could then store fields required for get/indexing as well as the bytes of the proto, while indexing the proto into a ts_vector in our table.

[2017-12-22 13:12] furuholm commented on #84
Maybe the [JSON support in PostgreSQL](https://www.postgresql.org/docs/9.6/static/datatype-json.html) could be of interest as well? I have not used it myself (and I'm not sure how it interacts with the text search features) so it would be interesting to hear what others have to say about it.

[2017-12-29 11:49] furuholm opened #86 "Add context as parameter to all methods in Storager and ProjectStorager"
@skelterjohn suggested this in a comment regarding PR https://github.com/Grafeas/Grafeas/pull/81#discussion_r158976153

Sounds like good idea to me but I am making it its own issue as it is outside the scope of the PR.

[2018-01-02 07:02] furuholm commented on #86
BTW: I can provide a PR for this once the list projects PR has been merged.

[2018-01-02 12:49] furuholm commented on #84
Is the strategy to build a CEL compiler that builds postgresql text search queries? It seems to me that a CEL compiler for JSONB queries should be easier to write and get right than one for text strings as there is more structure in the data to leverage.

[2018-01-02 14:22] furuholm commented on #84
Until the details have been settled, would a PR with a basic PostgreSQL implementation of the Storager interface be of interest or are there other plans for making this happen? If there is interest I could take this on.

I suggest we start simple with one table each for projects, notes, occurrences and operations. The tables only have to contain name and marshaled data to start with. Getting this

[2018-01-02 14:40] vtsao commented on #86
Yeah, all the storage interface methods should be updated to have ctx as the first param. SGTM, feel free to send a PR.

[2018-01-02 21:09] vbatts commented on #78
wouldn't some of these fall into the kritis use-case?

[2018-01-02 21:12] vbatts commented on #65
woof this purl conversation has gone wild while I was out! So to be clear, https://github.com/package-url/purl-spec is a recent discussion and not a widely agreed-upon and implemented spec, right?
I can follow the table, just want to make sure that it's a wider conversation.

[2018-01-02 21:18] vbatts commented on #50
@R2wenD2 right on

[2018-01-02 21:27] brianf commented on #65
If by recent / !wider you mean it's not widely implemented by tools, yes
that's true. The conversation has been going since mid November and this
seems to have good traction covering a large swath of packages out there.
Certainly from my POV, this is the best attempt at defining this I've ever
seen and think it fits perfectly into what Grafeas wants to be.

On Tue, Jan 2, 2018 at 4:12 PM, Vincent

[2018-01-03 16:56] R2wenD2 commented on #65
@vbatts Do you have reservations about purl? If so I'd love to hear them. We want some kind of standard format for grafeas, so I basically +1 everything that @brianf said above.

[2018-01-03 22:33] R2wenD2 commented on #84
You can get started with implementing the Storager interface with PostgrSQL JSON support in PostgreSQL looks like a good option for us (I also haven't used it though). We can hold off on adding indexing features until the CEL parser is available.

I think having 1 table for each projects, notes, occurrences, and operations is the right way to go.

DB config as a yaml sounds good.

Do you anticipat

[2018-01-04 07:11] furuholm commented on #84
Agree on the storage init. Will try to make something simple. If we need pluggable storage at some later point we can revisit...

[2018-01-04 20:50] vbatts commented on #65
On 03/01/18 16:56 +0000, R2wenD2 wrote:

faced with inventing something yourself, and working with others, it's
ideal to work together.
Only reservation was just that it's not a widely embraced thing [yet].

[2018-01-05 12:56] furuholm commented on #84
I have implemented support for Postgres in a branch but it builds on the project-crud branch so I'll wait with creating a PR until project-crud has been merged.

A couple of notes:
- I have gathered all test cases in a [new file](https://github.com/combient/Grafeas/blob/postgres-storage/samples/server/go-server/api/server/storage/storager_test.go) to avoid test duplication. The test cases have bee

[2018-01-06 05:55] furuholm commented on #84
The PostgreSQL unit tests needs a running PostgreSQL server to run. Not sure how to best handle this. Ideas?

[2018-01-08 16:09] vbatts commented on #84
@furuholm a kubernetes config to run a postgres instance and a test container to run against it.
This is becoming a pattern, but seems to be home grown by each project.
An e2e to be run. The next step is having it run in CI for pull requests...

[2018-01-08 19:46] furuholm commented on #84
@vbatts True. I think docker-compose probably has a lower barrier though. Also seems like it's supported by CircleCI. https://circleci.com/docs/2.0/docker-compose/

(Sidenote: Either way there should be kubernetes configs. I deploy Grafeas using a helm chart that I created. Maybe that should be added as well.)

[2018-01-08 19:48] vbatts commented on #84
I imagine groups like circleci will add kubernetes support before long

On Mon, Jan 8, 2018 at 2:46 PM Tobias Furuholm <notifications@github.com>
wrote:

[2018-01-08 21:59] R2wenD2 commented on #84
Can you point me to the db schema proposal?

Re: server-go package, this is because we'd like to work toward a functioning reference implementation outside of the samples directory :)

[2018-01-09 04:52] ddimtirov commented on #28
Add an option to serve 404 rather than 401 - in some cases, the mere knowledge that a resource exists is significant in security context.

[2018-01-09 06:55] furuholm commented on #84
The db schema can be found here: https://github.com/combient/Grafeas/blob/postgres-storage/samples/server/go-server/api/server/storage/queries.go

[2018-01-09 14:34] R2wenD2 commented on #84
Are the "id" fields in note, occurrence and operation referring to projectids? I don't think we need a foreign key, but we'll want to be able to namespace by project.

Also, I have a slight preference for notes, occurrences, and operations as table names.

[2018-01-09 15:14] furuholm commented on #84
The id fields are not referring to projectids. The only foreign key is occurrence.note_id.

We could add separate project name columns to notes, occurrences and operations, but I chose to search the beginning of the names instead. As I understand this should be quite performant and we avoid data duplication. If you want I can add a project column though.

Tabs vs spaces. Pluralized table names or

[2018-01-09 15:20] R2wenD2 commented on #84
For the note reference by projects/foo/occurrences/bar, I think it would make sense to have a column project_name that contains foo and have another column note_name which contains bar.

The foreign key to notes from occurrences could then be (note_project_id, note_id) which allows us to more easily list notes by project. WDYT?

[2018-01-09 18:04] furuholm commented on #84
I'm not sure I understand the second paragraph (is note_id the same as note.id and or is it the same as note_name or something else? What is note_project_id). Maybe you could share a schema draft?

[2018-01-09 22:55] doomsbuster opened #90 "Is the current code buildable and functional?"

[2018-01-09 22:58] doomsbuster commented on #90
I have been reading up on Grafeas, I understand that because its relatively new technology, the documentation, API spec and build process is yet to be produced. I had few questions
1. is there a database for storage of the data or is it all in memory at this point?
2. The go-server only has the storage interface, how to start this application and API server?
Are there other internal instructions t

[2018-01-10 06:49] furuholm commented on #90
You are correct in that the codebase is under development but it does work.

1. Persistent storage is not in place but on its way. See #84. I have [implemented support for Postgres](https://github.com/combient/Grafeas/tree/postgres-storage) and will submit this as a PR in the next couple of days or so.
2. To start the server go to `samples/server/go-server/api/server/main` and execute `go run main

[2018-01-10 15:20] doomsbuster commented on #90
Thanks for the quick response. I'll give it a try. So are you guys planning to ship this with a user interface with monitoring, dashboarding and visuals or just the API's and it would be up to the customers to determine how they want to consume the data?

[2018-01-10 15:58] R2wenD2 commented on #90
We're focused on the design/implementation and correctness of the API specification for the near to medium term, so currently no plans to create visuals/monitoring on top of that.

cc: @justinbeckwith

[2018-01-10 16:01] R2wenD2 commented on #90
This isn't actually an issue for the project. I'm going to close this. Please use our group mailing lists for this type of discussion.
- Developer list for contributors: https://groups.google.com/forum/#!forum/grafeas-dev
- User list for user questions/feedback: https://groups.google.com/forum/#!forum/grafeas-users

[2018-01-10 16:01] #90 closed

[2018-01-16 15:41] vtsao commented on #82
I'm in favor of consistent details suffix as well.

[2018-01-17 08:09] furuholm opened #93 "Lowercase Grafeas repo and org"
Go get is case insensitive while glide is not. This causes issues when using grafeas or its sibling repos as a dependency. I think the right thing to do is to change the github org and repo to lowercase (Grafeas/Grafeas -> grafeas/grafeas). While this may cause problems it won't be easier down the line.

BTW: Grafeas is [not the only package that have done this this](https://github.com/sirupsen/lo

[2018-01-17 15:40] vbatts commented on #50
looks like we're just about here, for this issue. Now even with a swagger representation of the protobuf JSON bridge. Should we delete `./v1alpha1/grafeas.json` and close this issue?

[2018-01-17 15:58] vbatts commented on #93
+1
I already clone it lowercase, but it does cause a glitch every so often.

[2018-01-17 18:04] vbatts commented on #65
I don't intend to derail purl adoption. I think I've articulated my hesitation, which seems to be a general problem and not exclusive to purl. https://github.com/package-url/purl-spec/issues/29

[2018-01-17 18:04] vbatts commented on #65
:heart:

[2018-01-17 19:04] R2wenD2 commented on #65
No problem. I think its still something we want to do. At this point, I expect that purl adoption means updating docs as well as the API implementation to parse for it.

[2018-01-17 20:26] doomsbuster opened #95 "swagger documentation has errors"
When i point swagger to the grafeas.json in v1alpha it throws parsing errors on line 523

[code]

Pointed at `https://raw.githubusercontent.com/Grafeas/Grafeas/master/v1alpha1/grafeas.json`

[2018-01-17 20:29] vbatts commented on #95
can you check against https://github.com/Grafeas/Grafeas/blob/master/v1alpha1/proto/grafeas.swagger.json

as the other one will be going away soon.

[2018-01-17 20:47] doomsbuster commented on #95
Thanks that worked. I fired up the sample server from the master branch. That does not seem to have any API endpoints that you have in the newer version (esp. project creation API's). Is there a different branch where I can try the sample server and all available API's. Without a project, I am not sure what to do with the sample server.

I did explore tiny bit more on the current one, the followin

[2018-01-17 21:09] #50 closed

[2018-01-17 21:09] #55 closed

[2018-01-17 21:14] R2wenD2 commented on #95
https://github.com/Grafeas/Grafeas/blob/master/v1alpha1/proto/grafeas.swagger.json is the way to go, its not clear to me from your comment whether you're seeing issues there or in the now deleted swagger file?

[2018-01-17 21:58] R2wenD2 commented on #93
I've run into this myself too. It is done, sorry about the capital inconvenience.

[2018-01-17 21:58] #93 closed

[2018-01-17 22:01] R2wenD2 commented on #59
Please take a look at https://github.com/grafeas/grafeas/pull/89 for an example of integration with in-toto for signing. Feel free to leave comments on that PR.

[2018-01-17 23:01] R2wenD2 commented on #40
@furuholm I believe this is done now - is anything remaining?

[2018-01-17 23:55] doomsbuster commented on #95
The URL @vbatts provided works in that swagger UI no longer throws the `duplicate key mapping` error.

When you look at [that API spec](https://github.com/Grafeas/Grafeas/blob/master/v1alpha1/proto/grafeas.swagger.json), there is a `/v1alpha1/{name}` endpoint that should create a new project for me.

![image](https://user-images.githubusercontent.com/4811092/35073534-4eee9676-fbb7-11e7-81bb-bb5ec8

[2018-01-18 06:08] furuholm commented on #40
It's done so you can close this issue.

[2018-01-18 06:35] furuholm commented on #95
Your test references `/v1alpha1/mrdoomsbuster`. Try `/v1alpha1/projects/mrdoomsbuster` instead.

It's easy to see how you came to this conclusion given the Swagger documentation though.

@R2wenD2: If Swagger is the canonical documentation for the REST API, maybe the url parsing logic should be revisited to use project/note/occurrence/operation id:s instead of passing the full path?

[2018-01-18 15:33] doomsbuster commented on #95
@furuholm that worked, i think the swagger documentation needs some updating. I can offer up to help you write some good technical and getting started documentation around this.

[2018-01-18 15:42] R2wenD2 commented on #95
While swagger should be an option, I don't think it should be the canonical documentation - as we made a choice to go with grpc. I think the proto annotations that are generating the swagger just need to be fixed. I can TAL at this today or tomorrow (I'm dealing with some production issues right now, but I'll get to it ASAP).

[2018-01-18 15:48] doomsbuster commented on #95
I am going to run a few more tests on the API to make sure the key workflows we are looking to utilize function as advertised. If we can keep this open, till that time, it will be good.

[2018-01-18 15:51] R2wenD2 commented on #95
I'll definitely keep this open to track fixing the proto annotations too :)

Feel free to send any PRs to help with the documentation too :)

[2018-01-19 07:22] furuholm commented on #95
@R2wenD2 Even if Swagger is not the canonical docs, I still think that it would make more sense to skip the name string entirely and switch to using project/note/occurrence/operation names as separate arguments, even more so when gRPC has been introduced. That this would also improve Swagger would be a nice side effect.

[2018-01-22 19:18] doomsbuster opened #96 "Swagger model definitions are complicated and hard to follow"
The API definition have some room for improvement in that the model definitions should be concise and relatable. Current long list of metadata model is hard to relate to REST API request bodies and the hierarchy of models.

E.g. `apiBuildDetails` and `apiBuildProvenance` the API documentation is very hard to read, follow and make sense when it comes to defining API request bodies.

[2018-01-22 19:20] doomsbuster commented on #38
Is adding a new kind manual code change or will it be available through use of API's?

[2018-01-22 19:34] furuholm commented on #38
That needs to be implemented in code.

[2018-01-22 19:52] doomsbuster commented on #38
What would be the reason for that decision? I am wondering what the process to extend the Open API Spec with new kinds will look like. Enterprises with complex ecosystems will end up owning their own versions of Grafeas and introducing new types?

[2018-01-22 20:01] furuholm commented on #38
I think this is a question for @R2wenD2 to answer as I was not part of the founding team.

I do see that there could be a need to add your own types in some situations. That being said: I personally think that one of the key value propositions for Grafeas is having standardized types as this allows different tools (both internal and 3:d party) to work together.

[2018-01-22 20:29] doomsbuster commented on #38
- Agree with you there. But I also do see a need to extend the vocabulary as well. Is it a possibility to extend vocabulary through use of plugins or providers?

[2018-01-25 02:49] R2wenD2 opened #99 "CircleCi integration is broken"
The status for PRs isn't getting updated, which makes validation difficult. The last PR to trigger was https://github.com/Grafeas/Grafeas/pull/94

[2018-01-25 13:01] furuholm opened #100 "Pagination support"
We need pagination support to browse through the data (need arose after importing 18000 CVE:s from [Clair](https://github.com/coreos/clair)).

For postgres: I'm thinking we could use (encrypted) values of the id as page markers by default. This would work for insertion order listings at least. For other sort orders we would probably need to build separate indexes once they are supported land.

For

[2018-01-26 01:41] R2wenD2 commented on #100
Your suggestions here lgtm. Agree that we shouldn't spend a ton of time coming up with a solution for memstore.

[2018-01-26 01:44] R2wenD2 commented on #26
Vincent, can you update the proto to include the new fields?

[2018-01-26 09:38] furuholm commented on #99
Seems that CircleCI is working again as #92 triggered and passed just now.

[2018-01-26 14:44] R2wenD2 commented on #99
woot!

[2018-01-26 14:44] #99 closed

[2018-01-31 22:05] R2wenD2 commented on #65
Next steps here:
1) Update docs
2) Incorporate the purl checks into our reference implementation!

[2018-02-02 16:16] #40 closed

[2018-02-06 15:40] vbatts commented on #65
So I'm now learning the extent of the work that has gone into SWID ISO 19770-2, despite the pay-wall barrier. I'm very glad that purl-spec is more open, but we might should consider that many deployments may have requirements to use SWID over purl.
Purl-spec has a FAQ about this, https://github.com/package-url/purl-spec/wiki/FAQ#why-not-using-the-iso-19770-2-spec-for-swid-tags-instead-of-a-purl wh

[2018-02-06 21:36] pombredanne commented on #65
@vbatts Just back from FOSDEM where I presented this https://fosdem.org/2018/schedule/event/purl/ (video and deck are there)
There was a clear preference from most everyone there to use a single scheme prefix eg. `pkg:npm:angular@1.2.3` such that this can be easily registered as an official RFC and many other good reasons so in this context we could have something like:
`pkg:swid:<whatever is a sw

[2018-02-08 21:00] TheFrogPad opened #104 "Removal of attestation and attestation authority from Grafeas API"
## Problem

Using the latest RI server the schema elements `attestationAuthority` for Notes and `attestation` for Occurrences have been removed. Is the change in schema an omission error when the API definition moved to use of Protocol Buffers?

The `kind` enum also does not list these types as well and if these have been removed is there any information that describes the replacement?

When you l

[2018-02-08 21:57] TheFrogPad commented on #104
BTW, I just realized that the [swagger definition](https://github.com/grafeas/grafeas/blob/master/v1alpha1/proto/grafeas.swagger.json) does not have the `attestationAuthority` or `attestation` but in the [proto](https://github.com/grafeas/grafeas/blob/master/v1alpha1/proto/grafeas.proto) I do see messages for these types.

I'm more familiar with swagger and was assuming the protocol buffers lined

[2018-02-08 22:44] R2wenD2 commented on #104
Hi Craig,

Attestation is still a part of the API, it seems like it was dropped from the generated swagger for some reason. I should have some time later tonight or tomorrow morning to regenerate the json and debug the issues

[2018-02-09 07:48] pombredanne commented on #51
I guess this still needs some love. I have not started working on this at all.... but I should.

[2018-02-09 12:48] R2wenD2 commented on #51
I've been talking with Kate Stewart about updating the PACKAGE_MANAGER messages to be spdx compliant. I think once we have that in place, we can build a bridge between a license scanner and Grafeas so that outputting license data will be straightforward.

[2018-02-09 21:17] TheFrogPad commented on #104
Hi Wendy, thanks for looking at what is going on with the attestation types...

Do you by chance have some references around signature handling? From the [proto](https://github.com/grafeas/grafeas/blob/master/v1alpha1/proto/grafeas.proto) there is a `PgpSignedAttestation` and there is also a `BuildSignature` which appear to have some different semantics from the comments. Or should I ask about the

[2018-02-12 19:19] R2wenD2 commented on #104
The messages here: https://github.com/grafeas/grafeas/blob/master/v1alpha1/proto/grafeas.proto should describe the expectations for the fields. Please let me know if you still have questions.

[2018-02-13 14:43] TheFrogPad commented on #104
Sounds good. I also posted a question in the [Grafeas Users](https://groups.google.com/forum/#!forum/grafeas-users) group yesterday about signature handling to see if there would be any comment or remarks. Thanks.

[2018-02-13 23:43] TristonianJones commented on #29
Hey there, I've implemented the filter parsing using the syntax of [advanced filters](https://cloud.google.com/logging/docs/view/advanced_filters) with the backing representation as [cel](https://github.com/google/cel-spec). Any preference on which directory the parser should go into?

[2018-02-13 23:54] R2wenD2 commented on #29
@TristonianJones Awesome! Lets put it in grafeas/server-go/filtering.

[2018-02-17 15:33] thomasmckay opened #107 "incomplete instructions for running sample server"
https://github.com/grafeas/grafeas/blob/master/samples/server/go-server/api/server/README.md

As a new comer to the project, this file lacks enough detailed instructions to run sample server. For me, after adding src to $GOPATH I get this on centos7

[code]

[2018-02-17 16:02] thomasmckay commented on #107
Update: It is the _-config config.yaml_ that is SEGVing

[2018-02-17 17:44] furuholm commented on #107
Thanks for reporting this issue.

In investigating this issue I actually found several things that needs to be corrected. But lets first look at the issue you are having.

The config file in the main directory was added by mistake by me. Instead use the config file in the root directory called `config.yaml.sample`. Unfortunately this file also contains an issue as a tab character had snuck in on r

[2018-02-17 18:49] thomasmckay commented on #107
About my setup, which likely influences the following notes:
clair - master
klar - to scan images against clair
grafeas - master

I am unable to find any data from clair in psql tables. curl'ing grafeas shows proper results afaict (lots of CVE notes). Is the storage_type being honored? _storage_type: "postgres"_

Note I'm very new to _go_ so errors could certainly be self-inflicted.
Thanks for hel

[2018-02-17 18:54] thomasmckay commented on #107
updated above note w/ proper clair branch

[2018-02-18 12:51] thomasmckay commented on #107
It was using memcache. Switching to using the config.yaml.example in home dir and changing to postgres does now tries to use postgres. Clair errors creating project; I'll debug. I'm using postgres-9.6.

[2018-02-18 15:52] thomasmckay commented on #107
I'm unsure why, but changing grafeas config.yaml from _host: "127.0.0.1:5432"_ to _host: "localhost:5432"_ allows the the clair-to-grafeas connection to work. (I haven't been able to get the _delve_ go debugger to work to find out more details.)

Thanks again for all the help!

[2018-02-23 14:30] vbatts commented on #65
@pombredanne there is further conversation going regarding SWID. I am thinking that the prefixing may help. Further [this FAQ](https://github.com/package-url/purl-spec/wiki/FAQ#why-not-using-the-iso-19770-2-spec-for-swid-tags-instead-of-a-purl) really ought to be updated from "avoid this"-like language. As one [private] conversation included:

ISO specification is not for proprietary software. How

[2018-02-26 11:47] #84 closed

[2018-02-26 12:07] furuholm commented on #107
Good to hear that you got things working! I've created PR #108 to address the issues I listed above.

I suggest you close this issue if you feel that your problem has been resolved.

[2018-02-26 12:16] furuholm commented on #86
Looking at this again I'm leaning towards this being premature. Unless there is a concrete use case for this right now I prefer not making the change. Also: an eventual addition of an RPC to create projects would probably end up in the impl-layer rather than the storage layer anyway.

I suggest we close this. Thoughts @R2wenD2?

[2018-02-27 01:55] R2wenD2 commented on #104
Some of the relevant fields for attestations were actually missing from protos. https://github.com/grafeas/grafeas/pull/109 should resolve the missing fields from the generated swagger.

[2018-03-01 14:11] R2wenD2 commented on #104
#109 is merged, so both the swagger file and protos should container the proper fields. Please reopen if you still see issues.

[2018-03-01 14:11] #104 closed

[2018-03-01 21:45] TheFrogPad commented on #104
Thanks, will do.

[2018-03-02 08:39] furuholm commented on #95
Wrote some client code today and I really think the API needs to be cleaned up.

I would suggest the following:
- Remove the notion of note/occurrence/operation name from the codebase and only use what is now called pID, nID and oIDs instead (although what is called id today should maybe be called name)
- Use ids instead of the stringly typed name string in the API. E.g. instead of `name: projects

[2018-03-02 13:53] R2wenD2 commented on #95
That all sounds reasonable, we just need to parse the stringly typed name earlier and start using that to hand around in the API code.

We should keep the proto as is though, as these are the restful paths to access objects.

[2018-03-02 14:45] furuholm commented on #95
I realise that you are probably right about the proto, but just so I can let this go: why should the proto use the restful paths? To me it makes more sense to let the rest API adapt itself to the protobuf:

Instead of
[code]
we would get something like
[code]
I don't know if that is even a valid specification, but hopefully it's clear enough to communicate the idea :)

[2018-03-02 15:13] R2wenD2 commented on #95
We're adhering to the guidelines here: https://cloud.google.com/apis/design/standard_methods

[2018-03-02 15:15] furuholm commented on #95
Awesome...thanks :)

[2018-03-13 20:17] kurtseifried opened #113 "Coordination/cross pollination with CVE JSON format"
Hi, I'm looking for the person(s) to talk to about coordinating and bouncing ideas around with respect to the JSON data format you are using, and the JSON CVE data format (which I'm largely to blame for =). I can be reached via email at kurt@seifried.org, I apologize for using the issues to contact you but it wasn't clear from the commits who is best to talk to), thanks.

[2018-03-13 20:27] R2wenD2 commented on #113
I'll follow up over email :)

[2018-03-13 21:12] kurtseifried commented on #113
Ok so one question would be around using resource urls, e.g. the
Debian | deb://dist(optional):arch:name:version | deb://lucid:i386:acl:2.2.49-2
I have a similar proposal for the CVE JSON format, essentially "Aliases" that are effectively a key:value store where the key is the namespace name, and the value is whatever, e.g.:

RedHat-RPM:some-rpm-1.2.3-5.el7.x86_64.rpm
github.com:grafeas/grafeas
tw

[2018-03-15 14:38] R2wenD2 commented on #113
#65 is open for moving resourceUrl to the purl spec - https://github.com/grafeas/grafeas/issues/65. It seems like your suggestion is similar but different for purl.  Its probably worthwhile to review the purl spec and leave comments in #65 or on the spec itself is you see issues here.

I believe for our beta version we'll adopt purl, so far there haven't been objections to that format.

[2018-03-19 20:57] R2wenD2 commented on #107
@thomasmckay are you still having issues? Can this be closed?

[2018-03-29 04:40] CameronLonsdale opened #122 "Bad URL on api/server/README.md"
The link "This is a reference implementation of the Grafeas API Spec" (https://github.com/Grafeas/Grafeas/blob/master/README) is not found. This link can be found on the following document: https://github.com/grafeas/grafeas/blob/master/samples/server/go-server/api/server/README.md

Apologies for not submitting a pull request to fix the issue, I am too unfamiliar with the project, but hope to soon

[2018-03-29 05:53] furuholm commented on #122
Thanks for reporting this. Pull request #123 fixes this...

[2018-03-29 05:54] furuholm commented on #100
Fixed by PR #115

[2018-03-29 05:54] #100 closed

[2018-03-29 20:19] R2wenD2 commented on #69
This was done for v1beta1 @vtsao I think we can close this, wdyt?

[2018-03-29 21:43] #69 closed

[2018-04-05 23:13] #122 closed

[2018-04-18 06:01] furuholm commented on #73
Got to think of this issue as I was reading through the v1beta1 protos. Seems to me that cloud storage could be referenced using a url

    gs://[BUCKET_NAME]/[OBJECT_NAME1]#[GENERATION_NUMBER1]

Source: https://cloud.google.com/storage/docs/using-object-versioning
Maybe v1beta1 is a good time to make this change?

[2018-04-18 06:06] furuholm commented on #82
This seems to have been resolved in v1beta1 (see https://github.com/grafeas/grafeas/blob/master/v1beta1/proto/grafeas.proto). If you agree @R2wenD2 I will go ahead and close this issue.

[2018-04-18 14:15] vtsao commented on #82
Yup, we fixed this in v1beta1. Closing.

[2018-04-18 14:15] #82 closed

[2018-04-24 13:03] R2wenD2 commented on #31
@shrajfr12 @vtsao can we close this?

[2018-04-24 13:05] R2wenD2 opened #127 "Add a QA Kind to Grafeas"
Several people have asked for this, but we need a proposed Note/Occurrence schema. If this is something you're interested in - please start to add thoughts here. If a thread here becomes too unwieldy, I'll create a google document.

[2018-04-24 13:10] R2wenD2 commented on #73
Lets add the generic "url source" I need to follow up with folks who are using the structured Google Cloud Storage fields before we can completely remove it.

[2018-04-24 14:05] vtsao commented on #31
Yeah.

[2018-04-24 14:05] #31 closed

[2018-04-25 00:34] ankushchadha commented on #127
There are atleast three types of QA data that can be correlated with a component -
1. Quality (of a component) - # of P1 issues
2. Test Coverage (Unittests vs overall tests)
3. Status - Pre-QA, QA, Post-QA (Blessed by QA)

The above three data points talk about the risks involved from QA point of view. All this data is aggregated to parent components (zip, war, docker image layer)

It is possible

[2018-05-03 20:06] jonahbenton opened #131 "Integration with Helm?"
Hi all, are there thoughts for how grafeas and helm would interact? Is a specific helm release of a specific version of a chart a Deployment Kind occurrence? Does helm get its own Kind?

Thanks,

Jonah

[2018-05-03 20:18] jonahbenton opened #132 "Querying for outdated images in a cluster?"
Hi,

I'm curious for the state of thinking of grafeas' intended role in a common situation- a cluster operator wants to know at a particular point in time what images running in the cluster/namespace are out of date. The cluster or namespace equivalent to apt list --upgradable. Is it intended that this question be answerable with grafeas?

[2018-05-04 17:57] vtsao commented on #132
Hi there, for questions like these, we have a mailing list. Could you post to that instead?
https://groups.google.com/forum/#!forum/grafeas-users

Thanks,
Vincent

[2018-05-04 17:57] #132 closed

[2018-05-04 17:57] vtsao commented on #131
Hi there, for questions like these, we have a mailing list. Could you post to that instead?
https://groups.google.com/forum/#!forum/grafeas-users

Thanks,
Vincent

[2018-05-04 17:57] #131 closed, assigned to nobody

[2018-05-10 15:26] vtsao commented on #28
First we'll need to define the permissions/roles we have in the API layer for v1beta1. Currently we have the following:

"notes.get"
"notes.list"
"notes.create"
"notes.update"
"notes.delete"

"occurrences.get"
"occurrences.list"
"occurrences.create"
"occurrences.update"
"occurrences.delete"

"notes.listOccurrences"
"notes.attachOccurrence"

"operations.get"
"operations.list"
"operations.create"
"o

[2018-05-10 15:29] R2wenD2 commented on #28
We'll also need projects roles @vtsao

Propose:

projects.create
projects.get
projects.list
projects.update

[2018-05-10 15:37] vtsao commented on #28
Ah yeah missed that.

We don't allow updating of projects right now since a project just has a name that can't be changed. We have delete though.

So:
projects.update -> projects.delete

[2018-05-14 19:37] furuholm commented on #28
I want to preface this by stating that I am not an expert in this area so please take this with a grain of salt. @R2wenD2 I'm thinking you probably have one or two subject experts at google that might be able to provide some feeback :). Also, there probably are libraries (or services?) out there that can do a lot of the heavy lifting for us. Would be great to get some suggestions!

Back to the iss

[2018-06-04 20:18] R2wenD2 opened #149 "add a protolinter to presubmit checks."

[2018-06-13 19:04] vtsao opened #157 "occurrence IDs should be generated by the API"
In our reference impl of the v1alpha1 Grafeas API, we currently require the occurrence name to be set in CreateOccurrence:
https://github.com/grafeas/grafeas/blob/master/samples/server/go-server/api/server/v1alpha1/impl.go#L101

Occurrence names are output only and their IDs should be generated by the API:
https://github.com/grafeas/grafeas/blob/master/v1alpha1/proto/grafeas.proto#L774

Note this

[2018-06-13 19:04] vtsao commented on #157
FYI @shrajfr12

[2018-06-13 19:05] vtsao commented on #157
Dan assigning to you for now. This will go hand in hand with the Go client lib sample revamp.

[2018-06-13 23:06] DanSanche commented on #157
I'll take a look. Do we want the server to reject any occurrences with assigned names (to give the user feedback), or should it just silently assign and use its own names?

[2018-06-14 01:02] DanSanche commented on #157
I'm addressing this here: https://github.com/grafeas/grafeas/pull/160

[2018-06-18 17:40] DanSanche opened #162 "CreateNote/CreateOperation don't use Parent from protos"
As I was fixing up the last issue, I noticed that the [CreateNote](https://github.com/grafeas/grafeas/blob/ccf2da9c31fb4f0b1d24017c8da2ae7bee9c979c/samples/server/go-server/api/server/v1alpha1/impl.go#L58)/[CreateOperation](https://github.com/grafeas/grafeas/blob/ccf2da9c31fb4f0b1d24017c8da2ae7bee9c979c/samples/server/go-server/api/server/v1alpha1/impl.go#L139) functions take in [protos](https://g

[2018-06-19 17:53] furuholm commented on #73
Fixed by #161

[2018-06-19 17:53] #73 closed

[2018-06-19 18:10] raj-inamdar opened #163 "Enhancement Request: User definable tags/labels field in Occurrences"
As part of change for https://github.com/grafeas/grafeas/pull/160 the occurrence (short) name will be assigned by the server. Clients will not be able to influence how the occurrence names will be assigned. As a result, if clients will not be able to encode additional information in the names which can be useful for categorizing occurrences during searches.

It will be helpful if the Occurrences i

[2018-06-19 19:01] DanSanche commented on #162
Ok, I'll try to make a fix when I have some spare time

[2018-06-20 12:32] SyCode7 opened #164 "Support for OWASP Top 10"
The[ OWASP Top 10 ](https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project )is one of the most comprehensive documents for the `appsec`  vulnerabilities. There is currently little or not support for its integration in security testing tools and secure software development pipelines,  despite the benefits this could bring. I raised a discussion about this in these security stack- exchange p

[2018-06-20 15:08] sandeeps2 commented on #163
Ability to add tags or lables as arbitrary key-value pairs for an Occurrence will be generally useful. One use case could be to add a `pipelineId` tag which would tie all occurrences that were generated as part of a specific CI/CD pipeline execution.

[2018-06-20 15:30] R2wenD2 commented on #163
We'll want to limit the number of allowed tags as well as the tag length in order to prevent potential for abuse - or having tags be a catch all for things that should be built into the api.

[2018-06-20 16:40] raj-inamdar commented on #163
@R2wenD2 Yes, that makes sense.

[2018-06-20 18:53] Katee commented on #164
I think there is some confusion about what Grafeas currently provides and what the OWASP Top 10 list covers.

For example, you might have a vulnerability scanner that notices CVE-2018-3760 applies to one of your resources and writes an occurrence to your Grafeas. It also happens that CVE-2018-3760 can be categorized as "A9:2017-Using Components with Known Vulnerabilities". However, there is no spe

[2018-06-21 02:18] j0npulsifer commented on #164
@SyCode7 I was inclined to agree with @Katee here re: top 10 and I empathize with you re: tooling 😢

But then I dug a little deeper (sorry I'm not well versed in appsec). I think CWE's make a great use case for Grafeas. Given CWEs are seemingly mapped to OWASP Top 10 ([ref](https://cwe.mitre.org/data/definitions/89.html))

Adding support for CWEs seems like the right path for this project imo. Tho

[2018-06-21 06:05] SyCode7 commented on #164
@j0npulsifer thank you for the support 👍 . To the best of my ability, most application vulnerabilities (including those affecting REST-based microservices) are not assigned CVEs. However, 98% of these vulnerabilities have CWEs. Interestingly, OWASP top 10 gives examples of [CWEs per category](https://www.owasp.org/index.php/Top_10-2017_Details_About_Risk_Factors), hence some vulnerability scanners

[2018-06-21 17:19] Katee commented on #164
It does seem like the existing vulnerability note isn’t well suited to hold CWEs. (The existing type can be thought of as a “Package Vulnerability” since it holds a bunch of package specific fields in [Details](https://github.com/grafeas/grafeas/blob/master/v1beta1/proto/vulnerability.proto#L63-L85)).

We would definitely be open to a schema proposal to store CWE notes and occurrences in grafeas.

[2018-06-21 17:39] jonpulsifer commented on #164
Thanks @Katee! I was initially going to suggest PACKAGE_VULNERABILITY but, like you, I feel like it'd be a bit of a stretch. I agree with you re: the new schema proposal

@SyCode7 do you feel comfortable opening a schema proposal for CWEs?

[2018-06-22 12:15] SyCode7 commented on #164
@Katee  thank you considering this proposal 👍

@jonpulsifer  sure, I will gladly like to do this, how do I open the proposal, here or elsewhere ?  Also,  am not yet familiar with how `grafeas`  works. Will it be fine to propose a generic schema that includes important CWE-related information or there are points /styles to mind?

[2018-06-25 15:44] jonpulsifer opened #166 "Provided Dockerfile does not expose Grafeas server"
I pointed someone at this repo and they said the provided Dockerfile does not work. Upon review the sample server uses `localhost` instead of `0.0.0.0` such that I had to provide a config file.

Thoughts on making it "work" out of the box?

[code]

proposed changes:
[code]

If this cromulates I'll open a PR

[2018-06-25 15:48] jonpulsifer opened #167 "Provide Issue Templates"
Should we provide issue templates to allow easier onboarding? Ref https://github.com/grafeas/grafeas/issues/164#issuecomment-399422962

e.g.
- feature request / proposal
- bug
- general questions

[2018-06-25 16:38] #166 closed

[2018-07-25 11:48] JasonKeirstead opened #172 "Support usage of STIX 2.0 within Grafeas to communicate cyberthreat (?)"
STIX 2.0 (https://oasis-open.github.io/cti-documentation/) is a JSON-based OASIS open standard used to codify and exchange details of cyber threat intelligence and cyber threat incidents, and covers the gamut of what one would want to report in a cyber-threat related occurance, including

- Vulnerabilities
- Malware
- Observations (application activity, endpoint activity, network activity)
- Affil

[2018-07-31 10:31] furuholm opened #173 "Database init fails for custom db usernames"
Using a configuration with a user called something other than `postgres` makes grafeas unable to create the database during startup. The reason for this is that the code that created the postgres database did not explicitly specify the database name (connections that does not explicitly specify the database name gets the username as the database name)

[2018-07-31 19:28] furuholm opened #175 "Make it possible to specify db credentials with environment variables"
Postgres allows specifying the username and password through environment variables (PGUSER and PGPASSWORD) if the connection string to Postgres does not specify username and password.

Adding this would make it possible to configure db credentials with Kubernetes secrets.

[2018-08-13 20:47] skelterjohn opened #188 "Proposal: note/occurrence signing"
We should allow notes and occurrences to be signed. The server implementation should verify these signatures and reject if they are invalid. Notes can specify accepted keys, and occurrences attached to those notes must be signed with at least one of the accepted keys (and the server should reject the occurrence without one of the signatures).

**Specifics**

Notes and occurrences both get a top-le

[2018-08-13 22:50] lukebond commented on #188
Awesome. Would be great to see the implementation be sufficiently flexible to enable an integration with in-toto whereby in-toto can rely on the chain of signatures for layout verification.

[2018-08-14 12:31] skelterjohn commented on #188
Since you mention in-toto, I should mention that this proposal is a partial step taken from discussions we have been having with the in-toto folks and a proposal they made to us for a fuller in-toto+Grafeas integration. We like the idea, and how it allows us to sidestep some of the trickier authorization questions we'd been having about on-prem Grafeas.

[2018-08-15 14:59] skelterjohn opened #194 "test issue"
to see if some email aliases were set up correctly

[2018-08-15 15:03] skelterjohn commented on #194
pinging @grafeas-monitor directly

[2018-08-16 19:46] tejal29 commented on #60
The kritis source code is github.com/grafeas/kritis

[2018-08-16 19:46] #60 closed

[2018-08-31 12:12] furuholm commented on #175
Fixed by #176

[2018-08-31 12:12] #175 closed

[2018-09-02 20:59] furuholm commented on #28
On the Grafeas status VC a couple of weeks ago I promised @skelterjohn I would write something up about my thoughts on this topic. So here it goes...

After having implemented auth for a another golang app I have put some more thought on this. Below is a rough outline of a design. Would like to get the time to do this some time during the next couple of months or so but I can't promise anything un

[2018-09-07 18:56] SantiagoTorres commented on #188
I like this!

I'd suggest using CanonicalJSON, as we do in the [in-toto and TUF specifications](https://github.com/in-toto/docs/blob/master/in-toto-spec.md#42-file-formats-general-principles), but anything would probably suffice.

[2018-09-07 19:48] skelterjohn commented on #188
@SantiagoTorres thanks for taking a look. When we spoke last you mentioned something about downgrade attacks - since you don't mention it here does that mean it's not an actual concern with the strategy laid out?

[2018-09-11 15:35] TristonianJones commented on #29
Just curious, but any thoughts on whether this is something that you'd like to continue using? If so, the github.com/google/cel-go library can be used to evaluate ASTs generated by the filtering parser.

[2018-09-14 18:47] vtsao commented on #28
Thanks @furuholm, using RBAC for authorization and OAuth2/OIDC for authentication sounds good. We'll have to decide how to prioritize this. Adding @aysylu since she might be the one working on this.

[2018-09-14 19:53] vtsao commented on #29
Yes we are still planning on using what you impl'd for our filtering. Also thanks for the code pointer. @aysylu FYI this might be something you will take on.

[2018-09-17 19:05] liron-l opened #219 "Migrate sample server to v1beta1"
The current server implementation uses the v1alpha1 which makes it incompatible with [kritis reference implementation](https://github.com/grafeas/kritis/blob/e4f3d3af40e4a2cc8463f01177a64e5e42152b74/pkg/kritis/metadata/metadata.go).
The only conflict in the migration is how to treat the `operations` API which does not exist in v1beta1.

[2018-09-18 07:13] liron-l commented on #219
Thanks @vtsao and @aysylu, we need the `v1beta1` migration to embed the code in kirtis.
I already started the migration in #220 and I think that the required changes are relatively minor.

[2018-09-26 18:17] vtsao commented on #219
Hi @liron-l sorry for the delayed response. Could you attend our next Grafeas developers sync to discuss this PR? If you haven't already, please join https://groups.google.com/forum/#!forum/grafeas-dev and you should see the meeting on your Google calendar. The next sync is on Oct 9.

[2018-09-27 11:05] liron-l commented on #219
Sure @vtsao. Please let me know if additional details should be added to #220.

[2018-10-05 12:08] mykter commented on #95
In the v1alpha1 swagger output, all of the GrafeasProjects methods have picked up documentation from other methods:

[code]

[2018-10-08 20:23] vtsao commented on #95
Yeah there is a known issue with how protoc generates Swagger spec from protos when using the google.api.http annotations. Google API HTTP annotations support pattern matching like "/v1beta1/{name=projects/*/occurrences/*}" that the Swagger spec doesn't support. So the generated Swagger JSON spec isn't 100% correct and then there are also documentation issues.

We're looking into how to get around

[2018-10-11 00:38] aysylu commented on #157
#160 appears to have addressed the issue. Is there anything else?

[2018-10-11 01:17] aysylu commented on #107
Closing this due to inactivity for 6+ months, and it appears to be resolved.

[2018-10-11 01:17] #107 closed

[2018-10-11 22:04] aysylu commented on #78
Some of the context was lost, so it's not clear whether there's a specific proposal or question that needs to be addressed here. Closing this due to the lack of activity, but please feel free to re-open with clarifications or open a new dedicated issue.

[2018-10-11 22:04] #78 closed

[2018-10-15 16:50] vtsao commented on #157
#160 did this in the v1alpha1 API layer. This needs to be done in the storage layer, so there is still work here.

[2018-10-16 18:23] nrshrivatsan opened #228 "[Feature-request] JENKINS integration for Grafeas"
# Proposal

- Jenkins Plugin for Grafeas

##  Why

- CI CD needs audits + governances for enterprise applications
- Grafeas is a Perfect candidate
- Jenkins has first class compatibility with Kubenetes from CI+ CD standpoint [https://jenkins.io/projects/jenkins-x/]
- Using the clear API contracts, we could have a closed loop CI + CG [ Continuous Governance ;-) ] + CD through [`when` primitive of J

[2018-10-16 18:48] nrshrivatsan commented on #228
cc @vbehar  @ChristopherMacGown  @vbatts  @R2wenD2

[2018-10-17 01:25] nrshrivatsan opened #229 "[Helm] Grafeas Helm chart"
Please create a Helm chart for spinning off Grafeas on any kubernetes cluster.

[2018-10-17 21:58] aysylu commented on #127
Would the existing kind `ATTESTATION` be sufficient to address the needs here?

[2018-10-24 20:38] aysylu commented on #167
#231 will address the first two bullet points. For general questions, [grafeas-users](https://groups.google.com/forum/#!forum/grafeas-users) is best. I'm in the process of updating the community guidelines to reflect this.

[2018-10-26 16:30] aysylu commented on #188
Hi @SantiagoTorres, could you please link the doc with the in-toto/tuf suggested algorithms? My search results are turning up empty.

[2018-10-26 17:15] SantiagoTorres commented on #188
Hi, @aysylu, yes you can see them [here](https://github.com/in-toto/docs/blob/master/in-toto-spec.md#42-file-formats-general-principles)

[2019-01-07 22:00] aysylu opened #237 "TestPgSQLStore/CreateProject test fails when running locally"
## Expected Behavior
The test should pass locally by bringing up a local Postgres instance to connect to.

## Actual Behavior
[code]

## Steps to Reproduce the Problem
Run the tests locally: `make test` in the root directory.

[2019-01-07 22:01] aysylu commented on #237
TODO: Look into why the tests are passing when run by CircleCI.

[2019-01-07 22:36] aysylu commented on #167
https://github.com/grafeas/grafeas#support now has the information on communication channels.

[2019-01-07 22:36] #167 closed

[2019-01-08 10:00] furuholm commented on #237
@aysylu I wrote the initial Postgres implementation and adapted the test suite to work for Postgres. The reason I did not add automatic instantiation of a Postgres server is that there are so many ways you may want to do this. If it is to be done my guess is that the most portable way is to run a docker container with Postgres unless the Postgres port is already open (or something like that).

The

[2019-01-09 06:49] weeezes commented on #237
I'm using a `docker-compose` setup like this:

[code]

And a config like this:

[code]

The CircleCI setup could probably be replicated for docker-compose for easy local alternative?

[2019-01-15 23:46] aysylu opened #246 "Update docs/create_note_occurrences"
## Expected Behavior
Update the examples to use Go client library and refer to the v1beta Grafeas API reference.

## Actual Behavior
Currently, refers to Java client library from alpha version and uses [v1alpha1 Grafeas API reference](v1alpha1/docs/GrafeasApi.md)

[2019-01-16 10:04] weeezes opened #247 "Occurrence time fields are not set"
## Expected Behavior

Occurrence `GetCreateTime()` and `GetUpdateTime()` should return the creation time and update times respectively for the given occurrence.

## Actual Behavior

GetCreateTime() and GetUpdateTime() both return `nil`. Tested not to work with psql and memstore backends.

Seems like the field is never set here:

https://github.com/grafeas/grafeas/blob/master/samples/server/go-serv

[2019-01-16 14:59] vtsao commented on #247
Thanks for reporting this. This should be set by the storage layer to the database commit time after the row has been inserted. Somewhere here:
https://github.com/grafeas/grafeas/blob/master/samples/server/go-server/api/server/storage/pgsqlstore.go#L170

We should do this when we update the storage layer to work with the v1beta1 impl FYI @aysylu.

[2019-01-31 19:14] bharathrajbk commented on #28
I am keen to see this feature being implemented as well! :+1:

[2019-01-31 19:16] bharathrajbk commented on #188
:+1:

[2019-02-12 18:22] aysylu commented on #237
@furuholm thanks for the context! @weeezes yes, definitely, we'd be very interested in a PR that allows running the tests locally and share the config across local and CircleCI setup, using docker-compose. Looking forward to the PR!

[2019-03-21 13:08] saint-j commented on #51
I wondered about license as a separate note kind. It seems to me that a note kind "open source component" would be more useful. Exactly like an open source vulnerability scan will result in some new notes and new occurrences it could be handled for license scans. New notes for the found open source component and new occurrences for the using image. And license is just an attribute of the "OS compo

[2019-04-26 14:48] openhitesh opened #283 "python API documentation details pages are broken - 404"
## Expected Behavior

Get details in the documentation pages.

## Actual Behavior
We get 404 for these pages instead.

## Steps to Reproduce the Problem
Go to any API endpoint documentation e.g. https://github.com/grafeas/client-python/blob/master/docs/GrafeasApi.md#create_note

Environment, commands

Github grafeas repo.

## Additional info
Attached screenshot.
<img width="1410" alt="grafeas-docs

[2019-05-22 18:46] duhruh opened #301 "Proposal: Move to go modules"
PR: https://github.com/grafeas/grafeas/pull/297

# Thesis
Adding and removing libraries should be easy and shouldn't require us to bloat our PR's with `vendor/` dependancies. Making PR's smaller and more manageable will allow us to prototype, develop, and review much faster.

# Why
The sample app, as it stands right now has many issues running the GRPC and HTTP rest server on the same port. After

[2019-05-29 13:23] JasonKeirstead commented on #172
Anyone have any thoughts on this?

[2019-05-30 21:40] aysylu commented on #301
Thank you, @duhruh, for the thorough and clear summary! This sounds reasonable. How do you feel about meeting to discuss this in a community call in July to move forward with the proposal? The reason for having this in July and not sooner is the focus on getting `0.1.0` release out, which is under active work.

[2019-05-30 23:15] duhruh commented on #301
@aysylu yea that sounds great! I'd very much like to join the community call. If you can give me the details on it or where i can learn more about it, how to join and whatnot that would be awesome, Also if version 0.1.0 is going to be a significant change, i'd like to be able to ensure my pr is up-to-date and compatible with it. Is there an existing branch somewhere I can checkout to see what's go

[2019-06-07 18:16] aysylu commented on #301
@duhruh: great! Yes, definitely, your presence in the community call will be very important. I'll reach out in July to find a time/date that works for you and announce it for anyone else who wants to join.

All the changes relevant to `0.1.0` are being committed to the `master` branch of this project and `grafeas-pgsql`. Most of the beta server changes will be coming in the next PR.

[2019-06-11 15:08] drewboswell opened #308 "Build fails locally"
## Expected Behavior
[code]
## Actual Behavior
[code]

## Steps to Reproduce the Problem
clone repo locally, run make or docker build...

[2019-06-11 15:17] vtsao commented on #308
@aysylu is this due to https://github.com/grafeas/grafeas/pull/306?

[2019-06-11 20:57] aysylu opened #310 "Ensure `go vet` works with the current Grafeas setup and add it back"
**Is your feature request related to a problem? Please describe.**
Currently, `vet` command in the `Makefile` fails due to the missing files that are generated by the `build` command:

[code]

There were several other incompatibility issues discovered in the Grafeas codebase with `go vet` that haven't yet been addressed.

**Describe the solution you'd like**
Ensure all issues detected by `go vet`

[2019-06-11 21:01] aysylu commented on #308
@vtsao it shouldn't be, because it uses the same approach as `v1` proto generation. I think it's due to the `go vet` in `build` command. #311 to disable it temporarily. I've run into other issues with `vet`, which is why we have `-composites=false` there. I think it's best to re-enable this after a more thorough investigation into incompatibility.

[2019-06-11 21:01] aysylu commented on #310
I've run into other issues with `vet`, which is why we have `-composites=false` in the `Makefile`. I think it's best to re-enable this after a more thorough investigation into incompatibility.

[2019-06-11 21:34] aysylu opened #312 "Implement Update{Note,Occurrence} operations using FieldMask"
## Expected Behavior
Merge and update the fields in Note and Occurrence using the provided FieldMask.

## Actual Behavior
Currently, not implemented.

## Additional info
see `go/v1beta1/storage`

[2019-06-11 23:22] vtsao commented on #308
I don't think this has anything to do with make? It looks like make works for @drewboswell (can you confirm?). It looks like it's the Docker step that is failing. Maybe something wrong with the Dockerfile?

Also I cannot repro on a clean client.

[2019-06-11 23:28] aysylu commented on #308
@vtsao: my understanding was that both `make build` and `docker build` are failing. @drewboswell: could you please clarify?

[2019-06-12 11:47] drewboswell commented on #308
Both are failing for me locally.
 Unrelated, but it looks like your tests use a different go version than your curcleci, might want to abstract that

[2019-06-12 18:26] aysylu commented on #308
@drewboswell thanks for clarifying! We're open to contributions, if this is something you can help with.:)

[2019-06-16 19:38] ItsMeWithTheFace commented on #312
I'm interested in picking up this issue! Is there anyone on the team I could talk to for more context?

[2019-06-17 16:53] vtsao commented on #312
Hi @ItsMeWithTheFace thanks for your interest! You can find an overview here:
https://cloud.google.com/apis/design/standard_methods#update

Basically you're going to want to retrieve the existing note or occurrence and merge the values specified in the field_mask proto into the note or occurrence retrieved from storage, then write it back to storage.

The field mask should be passed into the stora

[2019-06-17 17:13] ItsMeWithTheFace commented on #312
Alright, sounds good! Also, `go/v1beta1/storage` doesn't seem to exist on the master branch :o Is this where the storage layer resides?

[2019-06-17 18:26] vtsao commented on #312
@aysylu is in the process of impl it in https://github.com/grafeas/grafeas/pull/315 and https://github.com/grafeas/grafeas/pull/314 so you'll need to sync with her on this.

[2019-06-18 12:16] devilmind81 commented on #308
Same issue for me:

During a docker build I'm obtaining:

[code]

[2019-06-19 16:44] jacace opened #323 "Please add support for custom fields"
**Is your feature request related to a problem? Please describe.**
-->No

**Describe the solution you'd like**
Currently Installation occurrences support a set of fields which are not enough for companies to store the metadata. For example companies have internal system which perform different scans and produce different IDs and further metadata.
There seems to be no way to add extra fields or al

[2019-06-19 21:06] aysylu commented on #323
Hi @jacace, thank you for filing this FR. Could you please provide more information on the kinds of extra fields you'd like to add? I'm curious if these fields may be needed by others as well.

[2019-06-20 14:42] aysylu commented on #312
Hi @ItsMeWithTheFace, great to hear you're interested in contributing! The `go/v1beta1/storage` should be merged now in the `master`, so feel free to take a look and start the implementation. Looking forward to your PR and always feel free to ping me/us with any questions!

[2019-06-20 15:49] ItsMeWithTheFace commented on #312
Thanks @aysylu! I'm currently just getting familiar with the codebase and building the project. I'm actually running into the same issue described [here](https://github.com/grafeas/grafeas/issues/308). Is the project currently meant to be developed on Linux? :o

[2019-06-20 15:51] aysylu commented on #308
Could you please provide more information on the environment you're using when you run into this issue?

[2019-06-20 15:53] aysylu commented on #312
Great, @ItsMeWithTheFace! Interesting, please feel free to comment on the build issue with your environment details. I'm doing development work on both Linux and OSX, so I'll take a look. It did work for me on OSX, so happy to take a look.

[2019-06-20 17:45] ItsMeWithTheFace commented on #308
My environment looks like the following:
OS: OS X Mojave (10.14.2)
Golang Version: 1.12.5 darwin/amd64
Docker Version: 18.09.2, build 6247962

My GOPATH contains `/Users/<username>/go` and my grafeas is located under `/Users/<username>/go/src/github.com/grafeas/grafeas` (where the root of the project lies)

Running `make build` produces this output:
[code]

In the `protoc/bin/protoc` step of the M

[2019-06-20 18:02] ItsMeWithTheFace commented on #308
Actually, I fixed it. I also had `/Users/<username>/src` included in my GOPATH as well, so removing that fixed the issue

[2019-06-20 18:09] jacace commented on #323
For the short term we can explore the option suggested by @aysylu to create our own protos with the fields that we need and include references to Grafeas protos.

**My question would be:** would we just need to modify the "custom protos" or also the save/retrieve API methods ?

Long term: we would like to have this included as part of the standard Grafeas API since we believe is important to let u

[2019-06-20 18:21] rxbchen commented on #310
Hi, I'm interested in looking into this issue. Can I get some context into this issue?

[2019-06-20 18:30] aysylu commented on #310
Hi @rxbchen, great to hear about your interest! This was filed, because when running `make vet` or `go vet` it'd fail with `composite literal uses unkeyed fields`. The first step would be to remove the flag overwrite and see if it's still failing, given the recent changes to the codebase.

[2019-06-20 19:29] rxbchen commented on #310
Hey @aysylu I have `make vet` on macOS and a vagrant ubuntu image, it seems like it's working for me.

[2019-06-20 20:06] aysylu commented on #310
@rxbchen great! In that case, could you send a PR that removes this flag? Thanks.

[2019-06-20 20:24] rxbchen commented on #310
@aysylu my bad, once I set `-composites=true` it breaks again :/ (I forgot to test that case)

I will continue to look into the issue and look for a fix.

[2019-06-20 20:29] aysylu commented on #310
@rxbchen sounds good, thank you!

[2019-06-21 09:45] maplesond opened #328 "Add support for storing static analysis and test data associated with an artifact"
**Is your feature request related to a problem? Please describe.**
During our CI/CD process we generate a lot of metadata about the artifact that's built, most of which can be captured in some way by the existing API, but some not.  In particular we are interested in storing both static analysis and testing metadata.  At a minimum we would need to be able to store a link to our static analysis / t

[2019-06-21 17:12] aysylu commented on #310
Thanks, @rxbchen, for fixing this!

[2019-06-21 17:12] #310 closed

[2019-06-24 21:16] aysylu opened #332 "[PostgreSQL integration] CreateNote needs to generate and persist unique ID"
## Expected Behavior
On CreateNote(), a unique ID is generated and persisted for each Note.

## Actual Behavior
The ID field is null.

## Steps to Reproduce the Problem
Bring up Grafeas with PostgreSQL described in [grafeas-pgsql](https://github.com/grafeas/grafeas-pgsql), and try to insert an occurrence. See [instructions](https://github.com/grafeas/grafeas/blob/master/docs/create_notes_occurrenc

[2019-06-24 21:17] ItsMeWithTheFace commented on #312
@vtsao, @aysylu, could you give more context on the `merge` step of the field mask into a note/occurrence? Can I expect it to always contain acceptable values related to a note/occurrence (i.e., values like occurrence.name,occurrence.details.vulnerability etc.)? :O

[2019-06-24 21:25] aysylu commented on #312
@ItsMeWithTheFace: it's always a good idea to have validation logic for the values passed by the user.

[2019-06-24 22:17] ItsMeWithTheFace commented on #312
Sounds good, I'll work on that. I'm also pretty new to the Protobuf/GRPC way of building APIs, so my current thought was to loop through each path and update the values manually. Is there a more idiomatic way to do this? I did some research and found some FieldMask utils for Java and a third-party version in Golang

[2019-06-25 14:42] vtsao commented on #312
You can treat the field mask merge util as a Grafeas agnostic utility, so you shouldn't need to validate the fields of the note or occ proto w.r.t. Grafeas - especially since the Grafeas API layer would have already validated it, so you can just try and merge whatever the values you are given.

Yeah it looks like the best way of doing it is to loop through the paths specified in the field mask and

[2019-06-25 14:48] vtsao commented on #332
CreateNote should not generate IDs, the create note request from the API def requires the user specify an ID for the note. Occurrences on the other hand, have their IDs generated.

[2019-06-25 15:53] aysylu commented on #332
This is about an internal ID column that's generated and used for indexing in PG.

[2019-06-25 19:14] ItsMeWithTheFace commented on #312
Thanks for the update. One other question I have for now is where are the new values coming from? The `FieldMask` struct only holds the paths to update, but doesn't mention the values themselves. Is this info provided in the given `Occurrence` struct and I have to find + update the occurrence specified with the given `pID` and `oID`?

[2019-06-25 19:17] vtsao commented on #312
The new values are coming from the UpdateOccurrenceRequest:
https://github.com/grafeas/grafeas/blob/master/proto/v1/grafeas.proto#L326

and you retrieve the existing occurrence to merge into from storage, then merge, then write to storage for the update. This should all happen in a txn at the storage layer.

[2019-06-28 05:57] pingvishal-msft commented on #127
Is there any updates on this ?
In my opinion, using ATTESTATION for test related metadata can lead to fragmentation again - something that Grafeas is tryng to address in the first place. While I'm not suggesting that we go out and author a new Kind for everything, test results seems basic and integral to the CI/CD process.

[2019-06-28 15:12] clrprod commented on #127
I think the idea was using a attestation to sign off that something has passed through a point in the QA process. (i.e. QA has signed off on it, or it's passed QA step A).

I definitely think that storing a generic test output would be useful as well, although I'm wondering about the format. Would URL to see test output, and a hash of the contents on the URL be sufficient? Or is there higher level

[2019-06-28 15:37] aysylu commented on #127
To clarify my earlier response: it was a direct response to @antweiss suggesting the anything that meets that policy thresholds should just have an attestation associated with it. +1 to @clrprod clarification. Apologies for the confusion.

#328 tracks the metadata kind for Test (and static analysis). Please feel free to contribute to the discussion there. Overall, I agree that it'd be good to have

[2019-06-28 18:03] ItsMeWithTheFace commented on #312
Hey @aysylu, @vtsao, do you guys recommend using reflection or marshalling for merging Notes/Occurrences? So far I've been going with the reflection implementation but I can switch to marshalling if it's faster

[2019-06-28 19:11] aysylu commented on #157
I'll take this for the server implementation that uses v1beta1 API.

[2019-07-01 05:32] pingvishal-msft commented on #328
@maplesond: Do we have a proposal of what the Static Analysis and Test Kinds could look like ?

[2019-07-02 07:44] maplesond commented on #328
Hi @pingvishal-msft, not a formal one.  For our internal implementation we are thinking of having an analysis note type, which just contains the type of analysis being performed.  Options include:
- Static code analysis
- Unit testing
- Integration testing
- Contract testing
- Performance testing
- System testing
- Vulnerability analysis
- Dynamic analysis
- Canary analysis
- Manual analysis

The

[2019-07-02 20:44] tongmingleee commented on #229
You can find Helm chart here: https://github.com/grafeas/grafeas/tree/master/helm

[2019-07-03 14:46] vtsao commented on #312
Reflection sounds like the right way to go.

[2019-07-04 08:36] pingvishal commented on #328
Options look good.
Are you suggesting these Analysis are for Note Kind each or a single Kind Eg. ANALYSIS and the Occurrences have one of Static analysis/Unit testing etc. ?

Initial spec for some of these shouldn't be hard I think, we can propose something to start perhaps and let others chime in.

[2019-07-05 09:03] maplesond commented on #328
Initially I was thinking there would be one kind: "ANALYSIS", and in the Note for that kind you could have the "sub-kind" defined as an enum.  Then I was thinking that the occurrence describes the status and result of whichever analysis is referred to by the note.  I'm open to other solutions here though.  Would be interesting to see what the community thinks about this.

[2019-07-06 18:55] aysylu opened #341 "Move PostgreSQL storage implementation to `grafeas-pgsql`"
**Is your feature request related to a problem? Please describe.**
For consistency with the [Grafeas architecture](https://www.slideshare.net/aysylu/q-con-sp-software-supply-chain-management-with-grafeas-and-kritis/102?src=clipshare), we'd like to move the PostgreSQL storage implementation to its own project, `grafeas-pgsql`.

**Describe the solution you'd like**
1. Move [pgsqlstore.go](https://gi

[2019-07-17 00:57] bansalrajat opened #343 "Unable to go to next page"
I am unable to go to next page using the pageSize and nextPageToken .
Also the nextPagetoken is always  changing when ever i am refreshing the url .
I am using postgres as db with grafeas

#### Some Encoded String
"nextPageToken":"gAAAAABdLmm6ZtyRjjn5KDAWdbAHTZ40u81TbharedFdKNHCwPus26R2I9jG2EjZFp_sMA0uRGjemkx3sRTEoIah0SpQNs-1hg=="}

[2019-07-18 19:25] #308 closed

[2019-07-19 20:35] clrprod opened #351 "Data Hashes for integrity"
**Is your feature request related to a problem? Please describe.**
Currently if the in transit data gets damaged somewhere (memory corruption, database corruption etc..), there is no way to detect this.

**Describe the solution you'd like**
If we include a data has of the underlying data in each api call (i.e. hash the occurrence in CreateOccurrence, hash the note in CreateNote), then we can preve

[2019-07-30 15:52] kestewart opened #357 "Import/Export to SPDX documents"
It would be very useful if grafeas could consume and generate SPDX documents (https://spdx.github.io/spdx-spec/) to enable sharing of information with other open source software bill of materials generation and scanning tools available,  like TERN, FOSSology, Scancode.

**Describe the solution you'd like**
Please add option to enable grafeas to export and import SBoM document information from one

[2019-07-30 20:57] aysylu opened #358 "0.2.0 Release"
Please help the community to prioritize and scope the `0.2.0` release by doing one (or more of the following):

* Open Grafeas GH issue for feature you'd like to be included and mention in this thread:
  * outline estimated work amount,
  * provide details on whether you'll be able to contribute the feature, if it's prioritized.
* Mention already-filed Grafeas GH issues in this thread:
  * outline

[2019-07-31 05:26] pingvishal-msft commented on #328
draft for what the TEST and ANALYSIS Kinds could look like:

`syntax = "proto3";

message TestResult {
	int32 total = 1;
	int32 passed = 2;
	int32 failed = 3;
	int32 skipped = 4;
}

enum AnalysisType {
	UNSPECIFIED = 0;
	COVERAGE = 1;
}

message CoverageDetails {
	int32 total = 1;
	int32 covered = 2;
	float coveredInPercent = 3;
	grafeas.v1.RelatedUrl related_url = 4;
}
message Coverage {
	Coverag

[2019-08-01 20:02] maplesond commented on #328
Looks interesting.  I think this would cover most of our use cases.  If I understand these structure correctly they are all related to occurrences, what would the corresponding notes look like?

[2019-08-02 08:22] pingvishal-msft commented on #328
Notes can look like:

message TestNote {
    repeated string resource_uri = 1;
}

message AnalysisNote {
    repeated string resource_uri = 1;
}
resource_uri is the image uri(s) in this case.

[2019-08-02 08:41] maplesond commented on #328
I'm wondering if some tests and analyses seem better associated with a build, rather than an image.  For example, in our CI pipelines we run a jenkins job, and as part of that we have stages for various tests and static code analysis.  Generally this job goes on to produce a single docker image, but in some cases it can produce multiple artifacts / images.

So I think there could be a few options

[2019-08-02 08:48] pingvishal-msft commented on #328
glad that you brought this up because I had the same thoughts and no definitive solution in mind - hoping we as a community can arrive at it.
for #2 above, I am wondering what the logic of pointing to an Image note Vs build note would look like. imagine you have an integration environment where you are using a subset of artifacts to test/analyze ?

[2019-08-02 10:09] maplesond commented on #328
I think for #2 I was thinking the note itself would just reflect a type of testing, e.g. JUnit testing.  So the occurrence would just point at this.  The occurrence could have links to all other relevant notes/occurrences via urls, e.g. the build occurrence.  If the build occurrence is constructed properly this should have a list of artifacts that were produced.

In the case of an integration envi

[2019-08-05 23:56] abu-abraham commented on #95
Also, I found certain issues with the create note functionality. Create note requires note_id as a query parm which is not in accordance with the swagger documentation for v1beta1.

Another issue I found is the different casing used in the project. According to swagger-docs and protos, we use snake_casing, however, grafeas internally use camelCasing and returns objects accordingly.

[2019-08-07 21:51] #157 closed

[2019-08-07 21:51] #247 closed

[2019-08-08 14:55] judavi commented on #341
I can help with this issue

[2019-08-08 15:25] aysylu commented on #341
That'd be fantastic, thank you, @judavi!

[2019-08-13 16:03] judavi opened #362 "Filtering feature probably is not working on v1beta1"
## Expected Behavior
Filter the results by kind
## Actual Behavior
The API is not filtering by kind

## Steps to Reproduce the Problem
https://mygrafeas.com/v1beta1/projects/user1/occurrences?filter=kind%3D%22POTATO%22

I'm intentionally passing a kind that doesn't exists.

Returns

[code]
I'll be happy to provide more information if it's necessary. Thanks for the help

[2019-08-13 21:26] kellyp opened #363 "Unable to pull docker container"
## Expected Behavior

[code]

pulls down an image

## Actual Behavior
Links to the relevant code, snippets

[code]

## Steps to Reproduce the Problem

Environment, commands

1.  `docker pull us.gcr.io/grafeas/grafeas-server:0.1.0`

## Additional info
Add any other context about the problem here (e.g. screenshots, links)

[2019-08-14 16:06] aysylu commented on #363
Hi @kellyp, thanks for reporting the issue! The image name is actually `us.gcr.io/grafeas/grafeas-server:v0.1.0`, with **v**0.1.0. We might have forgotten to update documentation somewhere, could you please point me to where this is still out-of-date? Thanks!

[2019-08-14 16:33] kellyp commented on #363
hey @aysylu no problem I am now glad I don't have to maintain a copy of the image!  Its in the run it locally docs here: https://github.com/grafeas/grafeas/blob/master/docs/running_grafeas.md#using-published-docker-image

[2019-08-14 16:43] aysylu commented on #363
@kellyp thanks for your quick response! #365 should fix this.

[2019-08-14 16:44] #363 closed

[2019-08-26 17:03] #62 closed, assigned to nobody

[2019-08-29 09:47] murphyzhu0823 opened #369 "Locally build failed"
Run locally
`make build`

## Actual Behavior
`F0829 17:44:56.525380    8946 main.go:73] Cannot set flag paths=source_relative
--grpc-gateway_out: protoc-gen-grpc-gateway: Plugin failed with status code 255.
proto/v1/generate.go:6: running "../../protoc/bin/protoc": exit status 1
Makefile:32: recipe for target 'generate' failed
make: *** [generate] Error 1`

[2019-09-02 05:47] #369 closed

[2019-09-04 10:38] danielwhatmuff commented on #283
You need to add the API version to the URL and only v1alpha1 has been generated for the python client currently so - https://github.com/grafeas/client-python/blob/master/v1alpha1/docs/GrafeasApi.md#create_note

[2019-09-05 09:52] danielwhatmuff commented on #229
Would be cool to get this in the main charts repo within incubator if possible? Am happy to PR that..

[2019-09-05 10:02] danielwhatmuff commented on #229
[to here](https://github.com/helm/charts/tree/master/incubator) I mean.

There will be quite a few changes required for the chart to meet the [stable requirements](https://github.com/helm/charts/blob/master/CONTRIBUTING.md#technical-requirements). Have been through those a couple of times before so happy to pick it up.

[2019-09-10 20:56] elioengcomp opened #377 "Retagging is causing different Go Module content to be fetched from different sources"
## Expected Behavior
The tags should be immutable since Go Module Proxies will cache them.

## Actual Behavior
I'm getting 3 different checksums from 3 different sources when running `go mod download`. See the `Sum` field on the outputs below:

GoCenter (GOPROXY=https://gocenter.io)
[code]

Google's proxy (GOPROXY=https://proxy.golang.org)
[code]

GitHub (GOPROXY=direct):
[code]

This generates th

[2019-09-15 09:30] john-tipper opened #379 "Swagger spec is broken"
## Expected Behavior
Swagger spec should be valid against Swagger spec.

## Actual Behavior
The path parameters are invalid, e.g. https://github.com/grafeas/grafeas/blob/master/proto/v1beta1/swagger/grafeas.swagger.json#L18, leading to errors such as:

    Declared path parameter "name=projects/*/notes/*" needs to be defined as a path parameter at either the path or operation level

The path param

[2019-09-16 11:37] john-tipper opened #380 "Support DynamoDb as storage backend"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use DynamoDB as a storage backend.  I don't want to pay for an always-on database and for this database to be highly-available.  I'd like to use a cloud-native solution.

**Describe the solution you'd like**
AWS DynamoDB should be a supported storage instance.

**Describe alternatives you've considered**
Ther

[2019-09-16 11:38] john-tipper commented on #380
I am currently working on an implementation for this issue.

[2019-09-16 14:16] vtsao commented on #379
Thanks @john-tipper for filing this, I should have filed an issue for this sooner. This is due to the Grafeas API using the [Google HTTP annotations](https://github.com/googleapis/googleapis/blob/master/google/api/http.proto) to describe the REST API HTTP bindings.

The Google HTTP syntax is [not compatible with OpenAPI](https://github.com/OAI/OpenAPI-Specification/issues/892), which is what Swagg

[2019-09-16 14:16] vtsao commented on #379
FYI @aysylu

[2019-09-16 14:16] vtsao commented on #95
Root issue for this is captured in https://github.com/grafeas/grafeas/issues/379.

[2019-09-16 14:16] #95 closed

[2019-09-16 14:18] vtsao commented on #96
Hi @doomsbuster our source of truth for this API is defined using protos, the Swagger spec is generated using the protoc tool with the Swagger option, which has some issues right now. See https://github.com/grafeas/grafeas/issues/379.

If you have specific suggestions on how to improve our schema for the different [note/occurrence protos](https://github.com/grafeas/grafeas/tree/master/proto/v1), f

[2019-09-16 14:18] #96 closed

[2019-09-16 14:57] aysylu commented on #379
Thanks for filing the issue, @john-tipper, and for chiming in with context, @vtsao! The contributions to improve this, either at the Grafeas client spec level or at the larger Swagger level are welcome.

[2019-09-16 19:21] aysylu commented on #380
Great! Looking forward to your contribution @john-tipper. Please note that going forward, we'd like to have storage bindings in separate projects, see WIP in [grafeas-pgsql](https://github.com/grafeas/grafeas-pgsql). See [Grafeas architecture slide](https://www.slideshare.net/aysylu/q-con-sp-software-supply-chain-management-with-grafeas-and-kritis/102) for more details.

[2019-09-16 19:24] judavi opened #381 "Is the current code at master working correctly?"
## Expected Behavior
Build an run the image using the Dockerfile on the root directory should start the Grafeas server correctly

## Actual Behavior
I'm building a new image using the Dockerfile. Then based on that new image I'm building https://github.com/grafeas/grafeas-pgsql/blob/master/server/Dockerfile. The build is succesfull but when I try to run the server I'm getting:

[code]

As an alter

[2019-09-16 19:36] aysylu commented on #381
Hi @judavi, did you follow the steps described in [Starting Grafeas](https://github.com/grafeas/grafeas/blob/master/docs/running_grafeas.md#start-grafeas)? It sounds like you're trying to start the server from `grafeas-pgsql` Dockerfile, but also perhaps using the Dockerfile in `grafeas` GH project -- could you please clarify?

I was able to start the server in `go/v1beta1` per instructions. From

[2019-09-16 19:50] judavi commented on #381
Hi @aysylu
Yes, in the past I was able to start the project successfully. I have been working to complete the PR from here https://github.com/grafeas/grafeas-pgsql/pull/6

I also tried the following :
[code]
Output
[code]

[2019-09-16 19:55] judavi commented on #381
Basically what happened is I was testing my changes to remove the pgsql storage files from the main project. So I pulled the latest changes from the main repo (grafeas) and I faced the error. Then thinking it was something with my code I came back to the master branch and I tried to build the app without any of my changes but similar situation.

[2019-09-16 19:56] aysylu commented on #381
Hm, interesting. I just synced to the latest and ran `go run main/main.go` in the same directory as you and got:

[code]

Could you please confirm your `grafeas` GH repo is synced to the latest commit?

Also, I just merged https://github.com/grafeas/grafeas-pgsql/pull/7 which should fix one of the issues.

[2019-09-16 20:07] judavi commented on #381
@aysylu yes the server is starting correctly. The extra information is because I'm using
[code]
Then the error is happening when you try to use one of the methods of the API.  Like
[code]

[2019-09-16 20:08] judavi commented on #381
Just to be sure it wasn't something with my local repo I started a new container and I pulled the code there and manually build and started the API: https://asciinema.org/a/nP4XRtzynBvONDT60Rx0oNXz7

[2019-09-17 03:05] john-tipper commented on #380
Yep, sorry, should have mentioned I've seen https://github.com/grafeas/grafeas/issues/341 and will do similar.  Will be asking for creation of grafeas/grafeas-dynamodb repo when I've got something that works.

[2019-09-18 21:55] aysylu commented on #380
@john-tipper no problem and glad to hear we're on the same page! Sounds good. I was also thinking that we can link to the dedicated storage binding projects from the Grafeas main page, but the `grafeas-dynamodb` itself doesn't have to live in the `grafeas` organization, thereby simplifying the governance and requirements specific to contributing to Grafeas. WDYT of this approach?

[2019-09-19 05:23] john-tipper commented on #380
Hey @aysylu, I have made a PR (https://github.com/grafeas/grafeas/pull/382) that separates out implementation-specific configuration from the project configuration.  I agree with you: it'll allow for this Grafeas repo to refer in the README to other storage implementations (if you think they're good enough), but there should be no need for further changes inside this repo.  It should make #341 muc

[2019-09-19 14:58] john-tipper commented on #380
Initial commit of #380 is at https://github.com/john-tipper/grafeas-dynamodb.  It will require this PR to be merged to work correctly without manually rejigging the Go modules defined in that project.

It provides a good example for how to use the changes made in #383 to support a new storage system and provide a server implementation that makes use of that implementation, which may well be of int

[2019-09-24 14:32] clrprod commented on #377
Yep - I think a tag got moved. sum.golang.org is recording a different version than what we are serving

[2019-09-24 14:32] clrprod commented on #377
[code]

[2019-09-24 14:33] clrprod commented on #377
I think the only fix is to tag a new version, and make sure to not move that tag.

[2019-09-24 17:18] vtsao commented on #343
What list methods are calling?

Can you post the code you're using to do the list call?

Also, can you clarify what's happening? Are you getting an error, or not getting the results you expect based on what's in your database?

[2019-09-24 18:03] aysylu commented on #377
I released [Grafeas v0.1.1](https://groups.google.com/forum/#!topic/grafeas-users/1tP3ltrKXJ8). Could you please try again with the new tag and see if the issue is resolved?

[2019-09-24 18:30] aysylu commented on #381
Great! So is this resolved now?

[2019-09-24 18:49] clrprod commented on #377
0.1.1 seems to be working.

[code]

[2019-09-30 12:24] elioengcomp commented on #377
`v0.1.1` looks good.

[2019-10-01 22:42] aysylu commented on #377
Thank you for confirming, @elioengcomp and @clrprod! Closing this issue now.

[2019-10-01 22:42] #377 closed

[2019-10-07 22:19] aysylu commented on #381
@judavi please re-open if this is still an issue. Closing for now.

[2019-10-07 22:19] #381 closed

[2019-10-07 22:21] aysylu commented on #343
Closing this due to inactivity. Please re-open if this is still an issue.

[2019-10-07 22:21] #343 closed

[2019-10-08 15:01] judavi commented on #381
@aysylu I'm afraid this is still happening. Is not only about starting the server, because the server is "starting" correctly. The issue appears as soon as you try to use any of the services of the API. Something like http://localhost:8080/v1beta1/projects

[2019-10-08 15:02] judavi commented on #381
cc @vtsao

[2019-10-08 16:31] judavi commented on #381
Hi @aysylu  curl or the browser, same result:
[code]

[2019-10-08 16:35] judavi commented on #381
On the server side, if you enable GRPC debug information this is the output:
[code]

[2019-10-09 10:10] judavi commented on #381
Hi @aysylu @vtsao I built again on a clean machine (Centos 7.5). Similar situation. This time I'm running the DB on the host to discard issues with Postgres running on a container. Same result. I'm not able to use any of the endpoints using CURL or the browser.
A complete log of the build and run command is available here: https://gist.github.com/judavi/bb8d6eb20fcce037dbbf4d02545daad6

Please, co

[2019-10-09 22:12] john-tipper commented on #380
I think this will require a bump in version of the core `grafeas` project to `v0.1.2` to include the changes within #383.  See https://github.com/grafeas/grafeas/pull/383#issuecomment-540223357 for details.

[2019-10-10 14:07] judavi commented on #381
@aysylu @vtsao
Ok, I have some extra information. If I go back to an old version the REST API starts working again.  For example:
[code]
Then
[code]
and finally
[code]

[2019-10-11 09:32] judavi opened #389 "The REST API is not working with the current code at master"
## Expected Behavior

The REST API should list the projects available using the REST endpoint /v1beta/projects

## Actual Behavior

The REST API is replying with an error:
[code]

## Steps to Reproduce the Problem

1.  Download the master branch
2.  Execute
[code]
3.  Go to v1beta1/main
[code]
4.  Create a config file for connecting with a local Postgres database
[code]
5. Run main.go using the co

[2019-10-13 11:26] john-tipper commented on #380
Thanks for the release of `v0.1.2`, @aysylu.  The `grafeas` project includes the generate step in its makefile: https://github.com/grafeas/grafeas/blob/master/Makefile#L31-L39, where code is generated from protobuf files within this project.

Note that at present there is a hard-coded OS dependency coded into the generation of the dependencies: https://github.com/grafeas/grafeas/blob/master/protoc

[2019-10-13 17:15] john-tipper commented on #380
I've taken a look at what's happening with the `generate` step in the makefile and what is actually needed to support builds in other projects: it looks like it's just the generated source from the port files that is needed.  As a result, the issue I raised about cross-platform releases is not relevant: the only requirement for cross-platform compilation is actually this project.  It is source-cod

[2019-10-13 17:29] john-tipper commented on #389
I can confirm that this is an issue with `memstore` too:

[code]

In a separate terminal:

[code]

[code]

The bug exists for version `v0.1.2` and `v0.1.1`, but not for `v0.1.0`.
There was a bug created

[2019-10-14 08:22] judavi commented on #389
@john-tipper thanks for your help confirming the issue exists! I was getting frustrated that I was the only one having the issue.

[2019-10-15 08:57] judavi commented on #389
I think something is broken on the use of grpc-gateway but my Go knowledge is still no good enough to identify the main reason. Any suggestion @aysylu @vtsao ?

[2019-10-16 10:35] aysylu commented on #389
@judavi sorry you're still having issues with this and thanks for your patience with this while we figure it out!

@john-tipper thank you for helping narrow down this issue! I'm looking over the commits between `v0.1.0` and `v0.1.1` and nothing jumps out as the cause yet, but I'm continuing to dig into this.

@judavi could you please run `curl -v` and paste the output here? I suspect the server is

[2019-10-16 22:30] aysylu opened #393 "Makefile and go-generate should support OS X"
## Expected Behavior
OS-agnostic build process

## Actual Behavior
See https://github.com/grafeas/grafeas/issues/380#issuecomment-541410087.

[2019-10-16 22:47] aysylu commented on #380
@john-tipper: thanks for raising this issue and investigating. I filed #393 for the general issue that has come up before, where the Makefile is not OS-agnostic. Please feel free to chime in on the issue.

We used to commit the generated code to the repo, but cleaned it up and stopped doing this in the interests of keeping the source code clean of generated artifacts. I'm open to adding the genera

[2019-10-17 16:47] aysylu commented on #380
@john-tipper sounds good, and yes, if you could publish the solution for others to use, that'd be great! I'll release this today or latest by tomorrow and will update the thread. Thanks again for all your contributions!

[2019-10-18 20:22] aysylu commented on #389
@judavi I'm prioritizing to look into this early next week. Stay tuned and keep me posted on your debugging, if you work on it in the meantime. Thanks again for reporting this and your patience!

[2019-10-18 20:27] aysylu commented on #380
@john-tipper: I just released `v0.1.3` with the generated protos. PTAL and LMK if it works for you. Thanks!

[2019-10-20 20:35] john-tipper commented on #380
@aysylu I have an initial version here: https://github.com/john-tipper/grafeas-dynamodb.  It is affected by the bug described by @judavi: #389.

To get the code to compile with the generated source code I have had to abuse the go module system and effectively bypass it: https://github.com/john-tipper/grafeas-dynamodb/blob/master/go.mod#L33.  Code from this project is downloaded via the Makefile (h

[2019-10-23 07:51] judavi commented on #389
thanks @aysylu ! I'll post my updates if I found something else.

[2019-10-24 20:02] aysylu commented on #283
Closing this issue due to inactivity.

[2019-10-24 20:02] #283 closed

[2019-10-25 18:18] aysylu commented on #389
@judavi unfortunately, I haven't yet been able to track down the issue, partially due to my split attention with oncall duties this week. I'm getting someone else on my team to take a look as well, in case my workload prevents me from looking into this in the nearest future. Please stay tuned and thanks for your patience!

[2019-10-25 21:42] grafeas-monitor commented on #389
+noahklein, who will pick up this work.

On Fri, Oct 25, 2019, 2:18 PM Aysylu Greenberg <notifications@github.com>
wrote:

[2019-11-01 23:43] aysylu commented on #380
@john-tipper thank you for looking further into this! @noahklein is looking into #389 and will update us with his findings/fixes there.

The generated protos used to be in the repo, but then we removed them in favor of keeping the API codebase cleaner. However, my understanding is that it's a common practice to check into the repo generated protos in the Go world, so I'll add them back.

Given tha

[2019-11-04 15:43] #393 closed

[2019-11-06 00:40] aalsabag opened #396 "The json's in some of the documentation are ill-formatted"
https://github.com/grafeas/grafeas/blob/master/docs/create_notes_occurrences.md
Some of the jsons above have extra commas

[2019-11-06 20:09] aysylu commented on #380
Update: the fix by @judavi is merged, and #398 should simplify the downstream integration with Grafeas. Once #398 is merged, I'll release a new version.

[2019-11-06 20:46] noahklein commented on #389
Closing this issue, as it appears to have been fixed by #395 (thanks, @judavi!) Please reopen if you're still encountering this problem.

[2019-11-06 20:46] #389 closed

[2019-11-06 21:38] aysylu commented on #380
`v0.1.4` is out, PTAL and LMK whether it solves the issue, @john-tipper.

[2019-11-07 05:39] psprings commented on #379
Since this has some overlap with an issue I raised in the [client-go](https://github.com/grafeas/client-go) repository (https://github.com/grafeas/client-go/issues/13) I think it would be worth modifying the generated Swagger spec files as part of the `go generate` process in this repo.

Obviously, a less hacky approach would be preferred longterm, but it's better than having broken specs and clie

[2019-11-18 13:27] judavi opened #403 "Support Oracle 11g as storage backend"
Hello @aysylu  @vtsao !
I'm not sure how to propose this change so I decided to go with an issue in the repo.
I completed an implementation of Grafeas using Oracle 11G as the storage backend [grafeas-oracle](https://github.com/judavi/grafeas-oracle)
What do you prefer for these custom implementations? I'm cool moving my repo under Grafeas or adding a link from the principal project. What do you th

[2019-11-18 13:31] judavi commented on #341
I can resume the work on this issue based on the experience that I got working on [Grafeas-oracle](https://github.com/judavi/grafeas-oracle)

[2019-11-18 21:54] aysylu commented on #403
Hi @judavi,

That's really cool to hear about the integration of Grafeas with Oracle 11G -- congrats! Let's add the link in the README -- could you please a PR when you get a chance for this? Thanks!

[2019-11-19 04:59] aysylu commented on #341
That'd be great, thanks, @judavi!

[2019-12-09 19:59] judavi opened #412 "What is a good note/occurrence for test results?"
Hi @aysylu, Hi @vtsao
I have been searching on which kind of note/occurrence could be a good candidate to store test execution results, however, I haven't found anything that could fit in the test results area. I'm using this document as reference: https://cloud.google.com/container-registry/docs/reference/rest/v1beta1/projects.notes

What is your recommendation for that kind of metadata? or shoul

[2019-12-10 17:41] RyanPotts commented on #228
Anyone know if Grafeas was ever integrated with Jenkins in a nice way? I don't see plugins within Jenkins for it and it would be nice to have the CG - Continuous Governance piece seamlessly inserted (if desired) within the CI/CD process.

[2019-12-16 15:50] aysylu commented on #228
Thanks for filing @nrshrivatsan. @RyanPotts: there's currently no integration with Jenkins, and, to my knowledge, no ongoing work to add this. Contributions are welcome!

[2019-12-16 16:46] aysylu commented on #412
Hi @judavi,

You're right that this kind of metadata does not currently exist. A version of test results metadata kind has been proposed in #328 (although, the issue could be split in 2, for the 2 metadata kinds mentioned there). So, yes, a new proto is appropriate here. It'd be great to have the structure of the proto be informed by real life use cases.

Thanks,
Aysylu

[2019-12-20 16:13] #403 closed

[2020-01-10 18:24] aysylu commented on #362
Hi @judavi, is this something you'd be interested in taking a closer look and contributing?

[2020-01-21 10:50] judavi commented on #362
Hi @aysylu, yes, I'll be happy to check this.
Also, I think this proposal could be helpful to tackle filtering in the future: https://groups.google.com/forum/#!topic/grafeas-dev/633z2VFfSeQ
I did something similar on the Oracle implementation and has been really helpful https://github.com/judavi/grafeas-oracle/blob/ab721cff62667bb87d6977042c4e98e0f05510be/go/v1beta1/storage/queries.go#L23
Please c

[2020-01-24 18:06] prabhu opened #414 "Support for additional fields for Vulnerability type"
**Is your feature request related to a problem? Please describe.**
The current structure for a [vulnerability](https://github.com/grafeas/grafeas/blob/master/proto/v1beta1/vulnerability.proto) is missing variables to store the following:

- Id (To store the CVE or GHSA id)
- Problem category Id (Typically CWE id found in problemtype_data.description.value)

**Describe the solution you'd like**
The

[2020-01-28 20:35] vtsao commented on #362
So in V1 Grafeas we have this setup for filtering:
https://github.com/grafeas/grafeas/blob/master/go/v1/filter/filter.go

where for the most part I want to hand map supported filters to SQL statements, since free-form filtering is generally very difficult to support efficiently when you have a lot of data.

However, if you still want free-form filtering, the DefaultHandler method can fallback to u

[2020-01-28 21:07] vtsao commented on #414
The CVE ID is typically stored as the [note ID in the note name](https://github.com/grafeas/grafeas/blob/master/proto/v1/grafeas.proto#L252).

We currently don't have a field for CWE, but I imagine it would go at the top-level of a vuln note:
https://github.com/grafeas/grafeas/blob/master/proto/v1/vulnerability.proto#L46

@aysylu this could be added easily if we think it's useful.

[2020-01-28 21:07] vtsao commented on #414
FYI @nms2140

[2020-01-28 21:17] prabhu commented on #414
@vtsao Thank you for the prompt response. I still think that vulnerability should have its id separate from note id. This is because the format of the vulnerability id would change depending on the provider/advisory such as CVE or GitHub and so on. Note id on the other hand can be kept consistent by the organization for easy lookups perhaps based on a project code.

[2020-01-28 22:08] aysylu commented on #414
@prabhu: regarding CWE information, this has been requested in #164 as well. I'd be happy to review a PR that adds it -- could you please describe the use case you intend for this?

[2020-01-28 23:21] prabhu commented on #414
I am working on an oss dependency scanner (will be called dep-scan) with built-in grafeas output and submission. A category id such as CWE id is necessary:
- to provide more information about the given vulnerability to developers and security professionals
- to link the issue with other application security findings that may not necessarily have a CVE attached (say from a [sast-scan](https://githu

[2020-01-31 18:01] prabhu commented on #414
I am completely stuck. Happy to create a separate ticket if required.

As promised I have committed a preview of [dep-scan](https://github.com/AppThreat/dep-scan), my oss dependency audit tool. I am using the same data structures defined by Grafeas such as VulnerabilityDetail, VulnerabilityOccurence etc (https://github.com/AppThreat/vulndb/blob/a9f282986eb152cc35f79fd817c157094b12b0fb/vulndb/lib/_

[2020-02-11 18:59] psprings commented on #379
@aysylu @vtsao if you have any thoughts on my above comment, I'd be happy to help contribute a fix whether it is to the [client-go](https://github.com/grafeas/client-go) repository or to this repository.

[2020-02-13 23:01] aysylu commented on #379
Hi @psprings: thanks for following up on this and apologies for the delay. I thought that I had sent my review for the open PR a while ago, but the comments were sitting in the unfinished review, sorry about that. The `client-go` PR looks good, and I'm looking forward to doing another review and merging it, once it's ready.

Also, I'm open to your contribution of the fix to this repository as well

[2020-02-14 16:04] psprings commented on #379
@aysylu no worries -- pretty sure I've done that before. It's been a little bit so I'll revisit the code and address the feedback on the PR.

[2020-02-23 18:10] tianzhou opened #417 "Thoughts on splitting Grafeas service into separate Occurrence and Notes service respectively?"
The current GrafeasV1Beta1 is a monolithic service containing both Occurrence and Notes.

Since the comments already suggested "A note contains details describing the analysis and is generally stored in a separate project"

I am wondering if it makes sense to separate Occurrence/Notes on the service level as well?

[2020-02-23 23:44] ooq commented on #417
hi @tianzhou, can you provide more analysis on the benefits of such separation or if there are use cases that require so?
Haven't thought deep into the issue, but it's hard for me to think cases when users need to compose them from different services.

[2020-02-24 02:41] tianzhou commented on #417
It's about the separation of concerns. e.g. It could be easier to apply different ACLs if they are in separate services. Also the Occurrence and Notes service serves different purposes, e.g. occurrence service might be relatively more critical since the deployment service needs to consult it, and it will be called much more than Notes service

[2020-02-25 09:13] stubifox opened #418 "I somehow get "Failed to paginate projects" just by curling my grafeas Projects"
## Expected Behavior
listing of projects
## Actual Behavior
{
  "error": "Failed to paginate projects",
  "message": "Failed to paginate projects",
  "code": 13,
  "details": []
}

## Steps to Reproduce the Problem
curling the projects.
Odd is that somehow if I'm curling a specific project the error is gone and i can look up notes of the project. When i want to have the occurrences of given projec

[2020-02-28 14:44] ooq commented on #417
Fundamentally, the key data structure design here is a note maps to multiple occurrences. I'm not really convinced here that an occurrence service can be easily separated without duplicating the metadata on its corresponding notes. A separation might make requests to specific occurrences faster, but it would also degrade many other type of requests.

@aysylu who knows more about the history and in

[2020-03-02 14:15] artbegolli commented on #328
Has there been an update on this recently?

[2020-03-03 16:44] aysylu commented on #328
Hi @artbegolli,

No new updates on this. I think the proposal by @pingvishal-msft in the comments above is a sound one to start with. It'd be great to learn more about the real-life use case from the community on this, and have this guide our original design of the new metadata kinds.

Cheers,
Aysylu

[2020-03-07 01:08] aysylu commented on #417
Hi @tianzhou,

Thanks for reaching out, Grafeas Eng Lead here. The design of Grafeas API dictates that occurrences are closely tied with the notes to which they refer. @ooq is correct in that splitting the service to handle notes and occurrences separately has unclear benefits here. Is there a specific use case you're considering Grafeas for that'd be improved by having separate services?

[2020-03-09 21:21] wkozlik commented on #418
A way around this error is to specify the value for `paginationkey` in the `config.yaml` file. For example:
[code]

[2020-03-10 09:34] greendinosaur opened #422 "Unable to generate a note via curl"
## Expected Behavior
Be able to create a note in a project via curl

## Actual Behavior
when I use the below curl command
`curl http://localhost:8080/v1beta1/projects/provider_example/notes?note_id=testNote \
    -X POST -H "Content-Type: application/json" -d @note.json`

I get an error message
` no matches found: http://localhost:8080/v1beta1/projects/provider_example/notes?note_id=testNote`

I'm

[2020-03-10 09:44] greendinosaur commented on #328
I like the proposal from @pingvishal-msft as it covers the majority of metadata required. Maybe we could start with an implementation of that and then iterate over it as we learn more?

[2020-03-10 15:35] skelterjohn commented on #422
Can you share the contents of your note?

[2020-03-10 17:22] aysylu commented on #422
Hi @greendinosaur,

Thanks for filing the issue. Grafeas Eng Lead here. Could you please share what `note.json` looks like? Note ID is the name of the note, which is a required field: [proto definition](https://github.com/grafeas/grafeas/blob/master/proto/v1beta1/grafeas.proto#L476).

[2020-03-10 17:25] greendinosaur commented on #422
Thanks for responding so quickly @skelterjohn and @aysylu . It's the same note as outlined in the [docs](https://github.com/grafeas/grafeas/blob/master/docs/create_notes_occurrences.md)

[code]

[2020-03-10 20:25] aysylu commented on #422
Interesting. @wkozlik could you please take a look?

[2020-03-10 20:29] jacace opened #423 "type is required: error when creating a Deployment Note"
Hello,

I am trying to create a Deployment Note with the JSON below but I keep getting the error: _{"error":"note is invalid: [type is required]","message":"note is invalid: [type is required]","code":3,"details":[]}_

{
  "ShortDescription": "testdeploy",
  "LongDescription": null,
  "RelatedUrl": [
    {
      "Url": "https://jacace.wordpress.com/",
      "Label": "testurl"
    }
  ],
  "Related

[2020-03-11 13:59] greendinosaur commented on #423
I'm having a few problems myself with notes and curl so am struggling to test this out for you. However, I have some pointers which may help.

I've used the below JSON to successfully create a deployment occurrence via this curl command.
curl http://localhost:8080/v1beta1/projects/myproject/occurrences \
     -X POST -H "Content-Type: application/json" -d @occurrence.json

[code]

Looking at what

[2020-03-11 18:59] jacace commented on #423
Hello @greendinosaur

I just tried this and got a different error: "{"error":"note is invalid: [deplyable.resource_uri is required]","message":"note is invalid: [deplyable.resource_uri is required]","code":3,"details":[]}"

FYI: I also changed deployable to **deplyable** without luck.

{
  "ShortDescription": "testdeploy",
  "LongDescription": null,
  "RelatedUrl": [
    {
      "Url": "https://ja

[2020-03-11 23:54] wkozlik commented on #422
Hi @greendinosaur, I've been trying to reproduce the problem you encountered. When you run a curl command do you type it in in a single line:
[code]
or you hit \<ENTER\> after the line continuation character "\\":
[code]

[2020-03-12 03:09] aysylu commented on #328
Hi @greendinosaur,

Yes, the proposal by @pingvishal-msft is a good start. We're open to starting with a representation and then expanding on it. There are 2 considerations:

1) It's easier to add fields than remove from protos in the API, even if we try it out in `v1beta1` version which has lower guarantees than the `v1` version. Therefore, we want to be careful with what subset of fields we star

[2020-03-12 08:31] greendinosaur commented on #423
Aha, try this. It is working for me.
[code]

[2020-03-12 08:38] greendinosaur commented on #422
Thanks for continuing to look into this. I've been keying it into a single line without the continuation character. I still get the error.

Curiously, if I use Postman to POST the data then it works absolutely fine and I can create notes with no problems. Maybe I will just stick to that for learning the API.

I am using a Mac with the latest OS and the Z shell.

[2020-03-12 13:15] jacace commented on #423
It works now, thanks @greendinosaur

[2020-03-12 13:15] #423 closed

[2020-03-12 14:13] aysylu commented on #423
Hi @jacace and @greendinosaur,

@greendinosaur thanks for your help here! If either of you would like to add some documentation to help others in the future with the example of deployment metadata kind, your contributions are welcome!

Thanks,
Aysylu

[2020-03-12 15:08] greendinosaur commented on #423
hey @jacace sounds like you should log a bug about the error message containing a typo. That is confusing. Glad it works now.

@aysylu - would a working postman file do? I've been using postman to generate the API calls to generate both notes and occurrences and I can submit the script along with some commentary.

[2020-03-12 20:02] aysylu commented on #423
@greendinosaur: I'm not familiar with postman. Could you please share it here? I suspect it'd be very helpful, just want to make sure I can give a good recommendation for the PR, to make the review smoother.:)

[2020-03-12 20:22] greendinosaur commented on #423
Sure, Postman is a free [tool](https://www.postman.com/) that makes it easy to call REST APIs. It's reasonably well known. You can save out your script and store it in a code repository so others can run it. It makes it easy to see the API calls and the JSON that needs to be sent / is received back.

It's probably a supplement to updated documentation with more accurate curl commands and usage of

[2020-03-12 20:32] aysylu commented on #423
@greendinosaur: Awesome, thank you! Yes, we would love your contribution on this.:)

[2020-03-12 20:41] greendinosaur commented on #328
The use case I am most familiar with is the need to store evidence that you're compliant with various software policies in force at your firm in order to demonstrate your compliance before you can deploy into prod. These policies could be derived from external sources especially if you're working in a regulated industry. In this case, you'd typically need to be able to store this against an artifa

[2020-03-13 07:03] maplesond commented on #328
Sorry for not replying to this earlier @pingvishal-msft and @aysylu, I missed this thread in my emails.  Thanks @greendinosaur for your description, which describes our use case perfectly.  In terms of specific code quality metrics code coverage is the primary one, which we will likely also generate attestations for, but there are others such as technical debt, bugs, test failures, code smells etc

[2020-03-13 14:32] #418 closed

[2020-03-13 20:43] wkozlik commented on #422
I believe this error is generated by the Z shell. See more details here: https://github.com/ohmyzsh/ohmyzsh/issues/31

The easiest way to get around this error is to wrap the URL with double quotes.

[2020-03-13 21:20] greendinosaur commented on #422
Ah, excellent that has fixed the issue. Many thanks for looking into this and recommending an approach. I will close this issue.

[2020-03-13 21:20] #422 closed

[2020-03-13 21:20] greendinosaur commented on #422
Problem with z shell. Double quotes around the URL solves it.

[2020-03-17 21:00] greendinosaur commented on #246
As mentioned on other issues, I'm happy to pick this up. I can do this in two steps:

1. update the documentation with some additional JSON examples for different notes and occurrences
2. I've enhanced the [grpc example file ](https://github.com/grafeas/grafeas/blob/master/go/v1beta1/example/client/client.go)

I can submit these and in parallel, look at the Go client library and provide examples u

[2020-03-18 14:51] aysylu commented on #246
That'd be fantastic, @greendinosaur! Please feel free to send the PRs in an order that makes sense to you, and we'd be happy to review. Feel free to add @wkozlik as the reviewer and CC me.

[2020-03-19 17:23] aysylu commented on #328
@greendinosaur: agreed on all points! What I meant by saying "business use case for this" is that we'd like to work closely with the contributors who are actively integrating Grafeas into their workflows. So contributions in the form of PR are welcome, and we'd be happy to do a call to better understand the business needs and advise. Please let me know if this is the case for you.

@maplesond: tha

[2020-03-20 12:25] michael-bowen-sc commented on #328
@greendinosaur @aysylu @pingvishal-msft @maplesond @artbegolli

We are actively integrating Grafeas into our CI/CD estate and plan to leverage OPA to enforce policies based on those attestations.  I would say we are completely aligned with the requested enhancements originally laid out and the updated context @maplesond laid out last week.

We would be interested in participating in a call if one

[2020-03-20 13:46] greendinosaur commented on #328
@michael-bowen-sc  - your approach sounds wonderful. One of my observations on Grafeas is that it is clearly well-aligned to be used in a CI/CD process to gather various compliance type artifacts yet there is a lack of examples and documentation on showing this. Are you planning on open-sourcing / blogging about your solution?

@aysylu sounds like that call would be useful so we can all discuss ou

[2020-03-20 14:12] artbegolli commented on #328
Myself and @michael-bowen-sc have been building out an image container builder called the [ocibuilder](https://github.com/ocibuilder/ocibuilder) which directly integrates with grafeas such that you can push build and derived image metadata as well as sign images and push an attestation automatically when conducting an image build. This is documented here and will be available in an upcoming releas

[2020-03-20 15:43] aysylu commented on #328
Hi @artbegolli, @maplesond, @greendinosaur, and @michael-bowen-sc,

It's great to hear about Grafeas being integrated into your CI/CD pipelines. Yes, I agree, it'd be good to set up a call. @brianrussell2 and @wkozlik can set up the call for this, and we can take it from there!

[2020-03-20 18:21] aysylu commented on #417
Closing this for now, as this has been addressed. Please feel free to re-open if new information comes up.

[2020-03-20 18:21] #417 closed

[2020-03-23 23:06] brianrussell2 commented on #328
@artbegolli, @maplesond, @greendinosaur, and @michael-bowen-sc

To help coordinate schedules and get contact emails, can you add your info to this form?

https://forms.gle/Q9WAewcjJUpsimhA8

[2020-03-30 02:56] AliredDevils opened #428 "Which model of swagger-codegen to generate client api"
I want to generate grafeas V1 version client api by swagger-codegen,is there a Swagger Json of grafeas client api?

[2020-03-30 03:14] AliredDevils opened #429 "Failed to create note by Java-client api"
## Steps to Reproduce the Problem
1.Start grafeas server
    `cd  go/v1beta1`
    `go run main/main.go`

2.Create grafeas client api
 [https://github.com/grafeas/client-java/tree/master/0.1.0](url)

3.Create grafeas client project to create note
`ApiNote noteBody = new ApiNote();

            noteBody.setName(String.format("%s/notes/%s", parent, dockerScan.getVulnerability()));

            noteBo

[2020-03-30 09:44] AliredDevils commented on #428
When i try to create v1beta1 version Java client Api, i get errors as follow:
1.GrafeasData Error

    Hot Swap failed.

    GrafeasData: schema change not implemented

    GrafeasData: Operation not supported by VM

    GrafeasData: schema change not implemented

    GrafeasData: Operation not supported by VM

2.Client API Wrong,such as in the "createNoteCall" function:

    public com.squareup.o

[2020-03-30 19:52] aysylu commented on #428
Hi @AliredDevils,

Great to hear of your interest in the Java client for Grafeas! Couple things:

1) We use semantic versioning for the clients going forward, so we'd create `0.1.0` in this case (see [go-client example](https://github.com/grafeas/client-go/tree/master/0.1.0)). This version was actually created, and can be found [here](https://github.com/grafeas/client-java/tree/master/0.1.0).
2) T

[2020-03-30 22:10] aysylu commented on #429
@wkozlik could you please TAL?

[2020-03-31 03:05] wkozlik commented on #429
Hi @AliredDevils, thank you for finding this issue. The library `client-java` has not been updated for a while so it does not match the v1beta1 API server. Also, while trying to reproduce this issue, I found some other problems with the code generated by swagger that @aysylu described in https://github.com/grafeas/grafeas/issues/428#issuecomment-606210198

[2020-03-31 03:41] AliredDevils commented on #429
@wkozlik  Thanks for your reply.Can you give some suggestion to create client-java api for the latest source code of master branch?

And i find the [Java Client for Grafeas](https://github.com/googleapis/java-grafeas),so if i want to know :
1. How to generate this library ?Also by Swagger Codegen?If so,where can i find the swagger json file that i can reference to?

2.The "Java Client for Grafeas"

[2020-03-31 03:58] AliredDevils commented on #428
@aysylu Thanks firstly.

I find the semantic version for [client-java](https://github.com/googleapis/java-grafeas).So i want to get some suggestion:

1.I compare the [client-java](https://github.com/grafeas/client-java/tree/master/0.1.0) and [java-grafeas](https://github.com/googleapis/java-grafeas) ,and i find that the `client-java` missed the noteId object,so i could not create note successfully

[2020-03-31 19:41] wkozlik commented on #429
You can generate java client with Swagger yourself. As an example you can follow this [script](https://github.com/grafeas/client-java/blob/master/generate_client.sh). However, as you noticed, the generated code is not fully working due to several known issues related to the differences in defining resources in Google API and the OpenAPI spec used by Swagger.

As an alternative to Swagger you could

[2020-04-02 13:19] ringods commented on #328
Hello @aysylu, team and other interested parties,

I was one of the people on the call last week. With @cumundi, we help companies moving their application to the cloud. As part of that, we are building a code analysis process which can highlight in customer code the areas which probably need work to make them more cloud native. Think abstractly of a [12-factor apps](https://12factor.net/) checker

[2020-04-02 18:30] vtsao opened #431 "rename image.proto to image_basis.proto for V2"
In V1 we removed "basis" from image.proto, which is confusing. It should be image_basis.proto and the messages should be ImageBasisNote and ImageBasisOccurrence.

https://github.com/grafeas/grafeas/blob/master/proto/v1/image.proto

Can't do this in V1 as it's a breaking change, will have to wait until V2.

[2020-04-03 10:05] AliredDevils commented on #429
@wkozlik  Can you some suggestion about command line to create java client api ?
Now mime is as follow:
`protoc --plugin=protoc-gen-grpc-java=protoc-gen-grpc-java-1.28.0-osx-x86_64.exe --grpc-java_out=./java -I ./ -I ../../ -I ./include/ -I googleapis/ grafeas.proto`

1.How to make full proto to java client?
2.How to create a jar package such as `grafeas-0.24.0.jar`?

Thanks

[2020-04-03 14:11] wkozlik commented on #429
This script works for me (adjust path values):

[code]
In my case the command is like this (when run from within grafeas repo):
[code]

In my example I did not use the jar file, but I believe you can create it with this command:
[code]
Once you have the library generated, it is important to have correct version of java libraries that correspond to the version of protoc that was used to generate th

[2020-04-03 15:29] wkozlik commented on #328
Hello @ringods,

To answer your question, yes Grafeas is able to store the type of information you describe. And I think our goal is to define what that data looks like for various types of static analysis and testing. As to the field `related_url`, my take on is that it does not necessarily mean that the raw results are stored in another system, but that this field could store a link to any exter

[2020-04-08 02:23] AliredDevils commented on #429
@wkozlik  I have generated the java client api successfully follow your reference.
By the way, the v1beta1 version for `intoto.proto` model, some modifications for me:

`option java_outer_classname = "IntotoBeta";`
add the java_outer_classname option in the `intoto.proto`  file to avoid compilation failed.

Thanks a lot.

[2020-04-09 10:48] tianzhou opened #435 "Poison commit leveraging Grafeas"
**Is your feature request related to a problem? Please describe.**
Say there occur a bad commit and the commit fixing that issue is later applied. We would like to have a mechanism to ship the package containing both commits or neither of them.

To achieve this, we can flag the initial bad commit as "Poison" and the corresponding fix as "Antidote"

**Describe the solution you'd like**
Integrate th

[2020-04-10 13:19] wkozlik commented on #435
Hi @tianzhou, I suggest you post your question in https://github.com/grafeas/kritis since it is about binary authorization.

[2020-04-10 14:24] tianzhou commented on #435
Hi @wkozlik, thanks for the reply. It doesn't hurt to post there as well. Meanwhile, I do like to get some thought from the grafeas group as well since its feasibility depends on whether it makes sense to leverage grafeas data model.

[2020-04-10 17:23] liuplgtm commented on #435
hi @tianzhou , the proposal sounds realistic.
The proposal can be further generalized as an 'atomic group': {commit1, commit2, ... commitN}, which are either all included or all excluded.

This also means we need to touch multiple parts vertically in the grafeas/kritis stack.
Will keep this proposal in mind.

any interest in taking a stab at the implementation on your side? :)

[2020-04-14 09:47] artbegolli commented on #328
@brianrussell2 Has the proposal doc been created for this yet?

[2020-04-14 17:58] wkozlik commented on #428
For those having a similar issue, the steps to generate java client are described in https://github.com/grafeas/grafeas/issues/429.

[2020-04-15 10:38] th3w4y commented on #435
@tianzhou do you mean something like this:

check the fileHashes inside the sourceProvenance...  and look-up against some other attestation that tracks the poisonous commit and fileHash relation... ?

what  were  your inital thoughts on this?

[2020-04-15 13:06] tianzhou commented on #435
@liuplgtm we do occasionally find already identified problematic commits escaped into production. e.g. when the release engineers cut the release at the wrong commits which doesn't include the fix. We'd like to have a mechanism to flag bad commits. The atomic commits concept seems to be sane.

[2020-04-15 13:07] tianzhou commented on #435
@th3w4y I will take a look at your pointers. Thanks~

[2020-04-16 18:10] liuplgtm commented on #435
what @th3w4y described sounds feasible.

Basically you require the 'non_poisonous' attestation in the authorization stage.
Just make sure the release engineers generate such attestation for only the commits that are not poisonous.  The generation can be done automatically and can be part of your client logic.

[2020-05-07 17:45] #380 closed

[2020-05-11 12:39] mhebrank-pnc commented on #362
We needed grafeas to work with mysql, which is a pretty minor change based off the postgres work. We still have a little more to do before we are completely ready for it.

However, we also needed filtering, so while making those changes we also implemented filtering as suggested by @vtsao. The filters are parsed through CEL and the resulting ast is walked to generate the JSON enabled SQL queries.

[2020-05-20 10:08] ba32107 opened #446 "Build Kind signature problem in v1beta1"
Hi!

I am currently exploring the API, and noticed something that seems to be an inconsistency. The Build Kind has the [signature field](https://github.com/grafeas/grafeas/blob/master/proto/v1beta1/build.proto#L34) in the Note itself. I don't understand why. For one particular Note, there can be many Build Occurrences. How do we know which Occurrence the signature is for? Shouldn't the signature b

[2020-05-26 09:57] ba32107 commented on #446
Hi @aysylu, could you please shed some light on this? This is something that we'd like to start integrating soon in our CI system, but I don't quite understand how the Build Kind is supposed to be signed/verified. Thanks!

[2020-05-26 14:35] wkozlik commented on #446
Hi Balazs,
Recently there was a similar question asked about Grafeas Build Notes/Occurrences on the grafeas-users group. I hope [Catherine's answer](https://groups.google.com/g/grafeas-users/c/nBOwKZ3744M/m/-rnbUA8uBAAJ) makes it a bit more clear.

[2020-05-26 15:03] ba32107 commented on #446
Hi @wkozlik,

Thanks for that link. Unfortunately, it does not help, I still don't quite understand the answer to my question. Cathrine says in her answer:

My question is: how can I create three different signatures for each occurrence, if the `BuildSignature` field is on the Note, and not the Occurrence?

[2020-05-26 23:09] aysylu commented on #446
@catherinejones could you please clarify?

[2020-05-28 14:40] ba32107 commented on #446
Hi @aysylu, in order to prevent any possible misunderstanding, I'd like to highlight that my confusion is not regarding Cathrine's answer - it is regarding the documentation for `v1beta1` Build Note/Occurrence.

I would also like to understand why the `v1` version of the Build Kind has no signature fields. I think it's very useful to be able to cryptographically verify build provenances - how can

[2020-05-28 17:27] aysylu commented on #446
@ba32107: yes, happy to clarify this. I'm going to answer both questions, about `v1` and about the signature on the Note (what I understand was asked earlier):

1) Why doesn't `v1` have a signature field? The intention is for the Build kind to have a signature, but we'd ideally combine it with the Signature in `common.proto` which is also used in Attestation. The reason it wasn't added right away

[2020-05-29 09:19] ba32107 commented on #446
Hi @aysylu, thanks for the detailed reply.

1. Great, it seems like we are on the same page about the Build Kind having a signature. I believe the `Signature` field in `common.proto` is a good one: it is generic enough that we are able to use it with any type of signing mechanism (as opposed to `v1beta1`'s `PgpSignedAttestation`, which forces PGP). So I do believe this is a good way forward! Havin

[2020-06-03 12:17] aysylu commented on #362
Hi @mhebrank-pnc,

This is great to hear! Would you mind pointing me to the exact location of the changes you made? I'd love to TAL. It's very likely this is something we'd like in the official grafeas repository, so if you'd like to make a PR for this, please do!

Cheers,
Aysylu

[2020-06-03 12:59] mhebrank-pnc commented on #362
Ah! Looks like they've moved things around. It's now in a mysql only repo: https://github.com/pnctech/grafeas-mysql

[2020-06-03 23:06] brianrussell2 commented on #328
@artbegolli Sorry for the long delay on an update! This is still on my backlog and the doc will frame what @wkozlik wrote in terms of scope. I'm aiming to share a proposal in the coming weeks.

[2020-06-17 02:45] argowang commented on #446
Hi @aysylu, I am having same issue as @ba32107 to understand the signature. From the quoted sentences, it sounds like we need to know the provenance when creating the note? Also, from what it appears, all occurrences under the same note need to share the same provenance. Otherwise, the signature validation would fail.

I am sure @ba32107 and I misunderstood some concepts here. Would it be possible

[2020-06-19 17:08] ba32107 opened #449 "[Question] How does v1beta1 swagger path parameter format work?"
Hi,

I am trying to understand this file:
https://github.com/grafeas/grafeas/blob/master/proto/v1beta1/swagger/grafeas.swagger.json#L18

For example, in the highlighted line, this is the route path:
`/v1beta1/{name=projects/*/notes/*}`

I am not familiar with the syntax in the named parameter (`{name=projects/*/notes/*}`). What does this mean? Is this valid OpenAPI spec? I was reading through [the

[2020-07-10 15:19] ba32107 commented on #446
Hi @aysylu, did you have a chance to look into this question please?

[2020-07-10 15:21] ba32107 commented on #449
Hi @clrprod and @alexcope, I've pinged you directly because you have changed the swagger files recently, could you give me an insight on the above, please? Thanks.

[2020-07-13 16:11] aysylu commented on #449
Hi @ba32107,

The issue is the conversion difficulties between the representation of resources in  [Google API](http://cloud/apis/design/resources) and OpenAPI spec. There are known issues in swagger when converting between the two, and while many of them were fixed in the past year, some still remain, eg [described here](https://github.com/grafeas/client-go/pull/15). There are 3 options here at t

[2020-07-13 19:23] ba32107 commented on #449
Hi @aysylu, thanks for the clarification. I did not think to search among the client repos for this issue.

My use-case is actually server side - I am implementing Grafeas from scratch in C#. I wanted to provide a REST API as well as the Protobuf service, and I was trying to generate my service endpoints based on the Swagger files. Unfortunately, it looks like this is not possible at this point. I

[2020-07-14 00:11] aysylu commented on #449
Hi @ba32107,

Got it! If you decide to open source the C# client, please let us know and we'd be happy to point to it. Thanks!

I'm marking this resolved, but please feel free to re-open if there's anything else we can help address.

[2020-07-14 00:11] #449 closed

[2020-08-03 07:39] hpejustin commented on #164
@SyCode7 this is ready a good proposal, I am also thinking about how to do what you want. Maybe this kind can be a generic kind to support customize code scan?

[2020-08-03 07:45] hpejustin commented on #412
@judavi @aysylu that is a good idea!

[2020-08-03 07:55] hpejustin commented on #328
Any update about this?

[2020-08-03 09:02] hpejustin commented on #328
Any update of this issue? @brianrussell2

[2020-08-19 20:12] argowang commented on #446
With another look, it looks like there is a one-to-one mapping between the build note and build occurrence.

@aysylu Correct me if I'm wrong. But based on the comments in the proto file, I believe here is how it works:
1. In one Jenkins job, we collect the meta-data and construct `provenance` and  `provenance_byte`
2. In the job, we signed the `provenance_byte` with a private key. Then we create a

[2020-08-19 21:29] ba32107 commented on #446
I believe this is not the correct assumption. This would only work if every occurrence would have the exact same build provenance. First, this is not possible because the provenance not only contains the source information, but the exact build commands as well. So if a job produces multiple output images, they would need to have different build provenances (because the only way to produce differen

[2020-09-08 13:40] #435 closed

[2020-09-08 13:43] #429 closed

[2020-09-08 23:47] mmckeen opened #452 "Postgres storage pagination key error message should reference a 32 byte rather than 32 bit key"
Fernet takes and generates 32 byte keys.

Thus the error message here
https://github.com/grafeas/grafeas/blob/07ec5974c3df8413c5f6f1174d860eec064d8980/go/v1beta1/storage/pgsqlstore.go#L58 is confusing and made it difficult to figure out why the pagination key I provided in config was wrong.

Updating this error message would make debugging config issues much easier.

[2020-09-14 13:17] #452 closed

[2020-09-16 18:34] wkozlik commented on #446
Contributions to improve this are welcome.

[2020-09-16 18:42] #396 closed

[2020-09-17 23:16] c4milo opened #455 "Trying to delete a note returns marshaling error in the server"
## Expected Behavior
gRPC client call returns without error.

## Actual Behavior
I get the following error printing out in Grafeas logs:

[code]

and an internal error sent back to the client.

## Steps to Reproduce the Problem

Environment, commands

1.  Create a note
2.  Try to delete the note

## Additional info
I used my own generated gRPC client java library. Creating notes with it works fine

[2020-09-18 14:28] #455 closed

[2020-09-18 21:01] mrparkers opened #457 "feature request: update the database schema to support filtering"
**Is your feature request related to a problem? Please describe.**

We are looking to add filtering support for PostgreSQL. We already have a proof of concept for the querying based on the work completed by @clrprod, [here](https://github.com/liatrio/grafeas/blob/filterParser/go/v1beta1/storage/pgsqlstore.go). However, we are finding it quite difficult to complete this work due to the existing dat

[2020-09-25 21:43] aysylu commented on #457
Hi @mrparkers,

Thank you for filing the feature request. This FR sounds like an improvement and I'm sure other community members will benefit from the solution. Regarding changes in grafeas vs [grafeas-pgsql](https://github.com/grafeas/grafeas-pgsql), I recommend implementing them in the latter. @judavi started this migration and this is consistent with the long-term plans to have storage backend

[2020-10-22 15:55] c4milo commented on #328
any update on this?

[2020-10-28 08:59] th3w4y opened #459 "all zero values on pageSize, pageToken (+ other req.) should be validated before use in grafeas api"
* verify that all grafeas call to the storage engine validate portions of the request where needed before passing the call to the storage engine.

* reflect non-validated behaviour in the fakeStorage for the purpose of unit-testing

[2020-10-28 16:39] c4milo commented on #328
It seems to me we are dealing with 2 broad categories of analyses here:

1. **Static Analysis:** done to the source code without running it.
2. **Dynamic Analysis:** done to a running piece of code such as in the case of unit, integration, performance, acceptance, regression, contract, smoke, fuzz testing, etc.

For Static Analysis, since we had a multitude of tools that do this, and taking into c

[2020-10-29 14:35] th3w4y commented on #459
* fakeStorage modified to test that grafeas API uses validatePageSize for the List methods

[2020-10-29 14:36] th3w4y commented on #459
WIP: check if any other parts of the request would need validation

[2020-11-04 23:32] c4milo commented on #228
We have a Jenkins plugin running in production for a couple of weeks now. I'm still working out details to be able to open source it. Its scope only covers Build Provenance metadata but it is a good starting point for more.

[2020-11-18 17:18] tomcruise81 commented on #237
I'm willing to give at least part of this a shot. My thought is to spin up a testing instance of PostgreSQL (if one isn't currently available - i.e. the tests can't login to an already running instance):
1. Check for a local installation of PostgreSQL
2. If none is found, download it and house it under `test/utilities` within the repo
   1. `test/utilities` will of course be added to `.gitignore`

[2020-11-18 18:51] tomcruise81 opened #463 "Windows Development Support"
**Is your feature request related to a problem? Please describe.**
My organization only supports development via Windows. It does not currently allow for WSL.

**Describe the solution you'd like**
I'd like to see some of the classes augmented to facilitate testing on Windows via something like MINGW.

[2020-11-18 18:54] tomcruise81 commented on #463
At this point, it looks like it may only require

- changes to a few `generate.go` files
- additions to `downloadProtoc.sh`
- dealing with alternative line separators in `parser_test.go`

I'll see about submitting a PR to resolve these

[2020-11-18 19:06] tomcruise81 commented on #463
Opened #464

[2020-11-18 19:24] tomcruise81 commented on #237
Opened #465

[2020-11-30 10:04] hpejustin commented on #164
Any people still there?

[2020-11-30 10:12] hpejustin commented on #51
this is not only for open source, we can use it to track other problem by this.

[2020-12-10 02:36] meyerkeith commented on #341
Wondering if this has moved much more? I'm looking for a way to jump in and help with the codebase a bit more.

[2020-12-28 16:13] odsod opened #469 "Extract go/filtering to own module"
**Is your feature request related to a problem? Please describe.**
We would love to depend on the filtering implementation in our own microservices that want to implement [AIP-160: Filtering](https://google.aip.dev/160) - we are currently able to do so, but we pull in the full set of transitive dependencies from the grafeas top-level module when doing so.

**Describe the solution you'd like**
Extr

[2020-12-29 22:47] mrparkers opened #470 "new Elasticsearch backend implementation - looking for feedback"
Hello Grafeas maintainers and community 👋

Myself and some other engineers at @liatrio have been working on a new backend implementation for Grafeas based on Elasticsearch.  We're trying to use Grafeas for some policy-as-code work we're doing, and after running into some issues with adding filtering support to the existing Postgres backend, we decided to go a different direction and create a new b

[2020-12-30 05:42] TristonianJones commented on #469
The grammar I provided for filtering is not an exact match to aip.dev/160 since it supports a superset of some of the functionality, but it's close. Your options are are more or less as follows:

* Continue to use the code as-is.
* Create a new repo (I'd be happy to work with @lukesneeringer on figuring out where we should provide the standard implementation).
* Delete the filtering library if the

[2021-01-05 16:14] tomcruise81 commented on #463
Closed via #464

[2021-01-05 16:14] #463 closed

[2021-01-07 13:08] odsod commented on #469
@TristonianJones I hear you, but fuzzyness aside, we probably want to add some aliases to try and support the `AND`, `OR`, `NOT` and `:` operators - given that we still want to refer to the filtering AIP in our API documentation (which would be nice).

Right now it's looking like the simplest solution is to wrap cel-go and try to provide a slightly customized CEL environment for filter parsing, bu

[2021-01-28 20:49] mrparkers commented on #328
Hey @c4milo, I really like your static analysis definition.  Did you have any plans to submit a PR for this new occurrence type?  If not, would you mind if I took a stab at it using the code you've provided?

[2021-01-28 22:22] pivotal-pmital opened #474 "Running GET cURL for a valid occurrence ID but from the wrong project"
## Expected Behaviour
The response returns an error stating that an occurrence with that ID does not exist

## Actual Behaviour
The response deletes the occurrence from the original project and moves it to this project being cURL-ed

## Steps to Reproduce the Problem

1.  Create local grafeas server `docker run -p 8080:8080 --name grafeas  us.gcr.io/grafeas/grafeas-server:v0.1.6`
2.  Create 2 proj

[2021-01-31 05:25] c4milo commented on #328
@mrparkers, thanks! I started working on it but priorities changed a bit and was postponed. By all means, feel free to take a stab at it! 🙌🏻

[2021-02-08 15:38] wkozlik commented on #474
Thank you for reporting this issue. Would you consider submitting a fix?

[2021-05-26 13:25] omerlh opened #485 "json: cannot unmarshal object when trying to create in toto occurrence"
## Expected Behavior

Occurrence created as expected

## Actual Behavior
Getting the following error:

[code]

## Steps to Reproduce the Problem

[code]

I used the Swagger to find the relevant endpoint, and created it based on existing in toto link.
Prior to this APi call, I successfully created a matching note with the same name and kinda, and created a project.

## Additional info
The server is

[2021-06-06 05:58] omerlh commented on #485
How can I do that? It was very hard to find out how to call the server, had to hack around with the Swagger / Postman collection

[2021-06-07 20:39] aysylu commented on #485
For the instructions on how to call the server, I'm assuming you saw [these ones](https://github.com/grafeas/grafeas/blob/master/docs/create_notes_occurrences.md#creating-an-occurrence) already?

For the format, it looks like it's not well-formed:

[code]

should be

[code]

Also, the use of `contentHash` and `name` inside `Resource` is discouraged per [spec](https://github.com/grafeas/grafeas/blo

[2021-06-08 05:17] omerlh commented on #485
Ohh thanks - this indeed should help. I hope to find some time to test it out.

[2021-07-12 23:36] emirot opened #488 "[Question]:"
So I followed up the steps in the [running grafeas server](https://github.com/grafeas/grafeas/blob/master/docs/running_grafeas.md)
[code]

1 - I'm trying out Grafeas and I would like to know how I to create a project and then add notes and occurence on that project. Should it be done via curl, using go-client? Couldn't make the python client work.
2 - In order to do so should I do it like so: ```c

[2021-07-14 03:57] aysylu commented on #488
Hi @emirot,

re 1: Have you already tried following [these instructions](https://screenshot.googleplex.com/4vUNzQHeSLftwAn)? In a client, these would need to call [project API endpoints](https://github.com/grafeas/grafeas/blob/master/go/v1beta1/project/project.go), which the client-go and client-python do not call as they're strictly for Grafeas API endpoints. Contributions to add this are welcome

[2021-07-15 17:48] viv-ng commented on #488
@aysylu The 'these instruction' link you sent requires a google.com account login. Is there a way for you to list that instruction out here? I'm also trying to make the client-python to work.

thanks.

[2021-07-19 23:36] aysylu commented on #488
@viv-ng: apologies, wrong copy/paste. The instructions are in the GH repo: https://github.com/grafeas/grafeas/blob/master/docs/create_notes_occurrences.md.

[2021-07-23 15:44] maditya opened #491 "[Question] process to contribute a new storage implementation"
Hi,
Is there a process to contribute a new storage implementation for grafeas. We are working on AWS RDS backend and were wondering how to proceed. https://github.com/grafeas/grafeas/issues/341 states that it would be a separate project(repo?). Would the repo eventually be part of grafeas org or managed separately?

@aysylu @wkozlik

[2021-07-23 16:05] wkozlik commented on #491
I think it makes sense to start as a separate repo so you have more freedom over the changes you want to make. You can follow https://github.com/grafeas/grafeas/pull/475 as an example of contributing a new backend.

[2021-07-23 16:10] maditya commented on #491
awesome, thanks!

[2021-07-23 16:10] #491 closed

[2021-08-03 17:30] Alos opened #496 "Diagram in the readme is unviewable in GH dark mode"
The diagram on the readme has a transparent background and if you are using Github's dark mode you are no able to see the lines in the diagram.

[2021-08-10 20:21] jhill-cpu commented on #457
I just wanted to ask if there would be any follow up with this issue? My team is moving forward with Grafeas but we need filtering, so we'll probably fork the repo and do it separately since it seems like this issue has been inactive for quite a while.

Let us know either way! We'd be happy to try pushing our changes back upstream if possible.

[2021-08-10 22:50] alowayed opened #500 "Update Note and Occurrence Protos to support SBOM (SPDX) data"
**Is your feature request related to a problem? Please describe.**
Software is being built and deployed in a way that does not provide visibility in between the source and what’s actually running.

**Describe the solution you'd like**
Add [SBOM](https://www.ntia.gov/SBOM) support to Grafeas by creating new [SPDS](https://spdx.github.io/spdx-spec/) note and occurrence type protos.

**Describe alter

[2021-08-10 23:04] aysylu commented on #500
Looking forward to this!

[2021-08-12 18:06] #500 closed

[2021-08-13 18:32] mrparkers commented on #457
No, we decided to pivot and write our own backend using Elasticsearch, which you can view here: https://github.com/rode/grafeas-elasticsearch

It isn't a complete implementation, but imo it works better than the default postgres backend due to the filtering support we added and the ability to run version migrations on the grafeas schema.

[2021-09-30 15:41] jessesanford commented on #328
Very interested in this as well. Just wondering if manual analysis might be a place to store information about PR approvals and PR template compliance? For gitops situations where PRs are used as the manual approval control to send software to production it is necessary to store related information about the PR alongside the artifact.

[2021-10-04 10:06] totoromje opened #505 "Can't get any notes using python client"
Hi GrafeasDevTeam,
I'm facing get notes problem as below, please check and post your advises/findings.
Thanks in advance,
totoromje

## Expected Behavior

I expect to get the list of notes as a response to below listed curl, but get empty list:
curl http://localhost:4001/v1beta1/projects/mje10/notes

The projects are listed properly:
curl http://localhost:4001/v1beta1/projects
{"projects":[{"name"

[2021-10-04 14:22] totoromje commented on #505
Hi again,
the case was caused by misconfiguration on my side. Sorry for bothering you.
Best regards,
Marisuz

[2021-10-04 14:22] #505 closed

[2021-10-14 07:02] wangchunying970318 opened #506 "[Getting Started] SOS When I visit the grafeas-server, it shows 500"
When I finish running the grafeas by tring both using published docker image and using go run to opening port 8080, I expect to visit the docker-server successfully via 8080. However, when I do the step "testing with curl" ,
[code]
Besides, I try to visit the grafeas-server via [http://localhost:8080](http://localhost:8080), the browser shows the code is "5" and message is "not found".
![image](ht

[2021-11-03 01:02] hkadakia opened #516 "Support git as one of the producers when sending data to Grafeas"
In order to have a complete chain of custody, adding support for Git as one of the producers would be ideal. In order to capture git push events, we would ideally need a protobuf which matches the payload published by the git webhook mentioned [here](https://docs.github.com/en/free-pro-team@latest/developers/webhooks-and-events/webhook-events-and-payloads#push)

Please let me know if this proposal

[2021-11-03 18:34] aysylu commented on #516
Hi @hkadakia,

Could you please elaborate on how you'd use Git webhook as software supply chain metadata? The way I understand it is, the webhook itself could call Grafeas API to create metadata when it's triggered. Did you have something different in mind?

Thanks,
Aysylu

[2021-11-23 22:23] hkadakia opened #519 "Add support for CWE field in vulnerability proto message"
Currently we only create a note for a given CVE where the note name is the CVE. There are cases when a particular CVE can have one or more CWEs eg: `CVE-2021-39139`  has CWE `CWE-502` & `CWE-434` and one CWE can be for multiple CVEs.
Ref: [CVE-2021-39139](https://nvd.nist.gov/vuln/detail/CVE-2021-39139)

The latter case can be covered by creating each Note entry for each CVE & having a field withi

[2021-12-01 00:35] aethanol opened #522 "Updating repeated fields is broken due to grpc-gateway bug"
## Background
Grafeas is impact by this bug: https://github.com/grpc-ecosystem/grpc-gateway/pull/1921, which was released in [2.3.0](https://github.com/grpc-ecosystem/grpc-gateway/releases/tag/v2.3.0), but grafeas is on [2.0.1](https://github.com/grafeas/grafeas/blob/master/go.mod#L17)

## Expected Behavior
Updating an occurrence should allow for a list of repeated fields to be appended to the exi

[2021-12-01 21:16] aysylu commented on #522
@aethanol thanks for reporting this issue! if you'd like to create a PR to fix this, your contribution is very welcome!

[2021-12-02 21:39] #522 closed

[2021-12-03 21:20] hkadakia commented on #519
@aysylu @nms2140 Any thoughts?

[2021-12-06 14:09] VishalVinayRam commented on #332
I would like to work on it

[2021-12-06 19:23] aysylu commented on #332
@VishalVinayRam ok great! Please send the PR to the maintainers team when ready.

[2021-12-08 15:15] wkozlik commented on #519
I think this is a good idea. Would you like to create a PR?

[2021-12-08 17:09] hkadakia commented on #519
Thanks. Yes I will raise a PR with the above fix.

[2021-12-08 20:07] aysylu commented on #519
@hkadakia sounds good re adding a new field. Should the field be on a Detail or top-level Vulnerability? If different CWEs apply depending on the OS distro, then per-Detail is the best place to do this.

[2021-12-08 23:25] hkadakia commented on #519
AFAIK, CWEs are not OS distro dependent and are related to high level CVE/vulnerability. I think adding the field at top-level vulnerability message should be acceptable.

[2021-12-09 19:59] aysylu commented on #519
@hkadakia Got it. Could we please confirm this with comparison of Debian vs Ubuntu reports of CWEs for a given CVE? I left a comment on the PR, but happy to move the discussion here, up to you.

[2021-12-21 06:42] hkadakia commented on #519
Issue resolved as part of #527

[2021-12-21 06:42] #519 closed

[2022-01-13 16:31] aethanol commented on #379
This is finally (almost) fixed in grpc-gateway! https://github.com/grpc-ecosystem/grpc-gateway/pull/2461
There was a small regression that would affect grafeas: https://github.com/grpc-ecosystem/grpc-gateway/issues/2489 but this is a near term fix.

[2022-01-13 19:28] aysylu commented on #379
@aethanol thanks for looking into this! Adding @wkozlik to this thread, as I moved to another project.

[2022-01-24 14:32] #379 closed

[2022-02-09 12:30] 0m1xa opened #533 "Unable to create any occurrence except kind: DEPLOYMENT with postgres backend"
When I try to create any possible occurrence type with postgres backend I always get an error
[code]
Only kind DEPLOYMENT works well.
I used this [examples](https://github.com/grafeas/grafeas/tree/master/docs/json_examples) and this postman [project](https://github.com/grafeas/grafeas/tree/master/docs/postman)

Application logs at the time of requests
[code]
## Expected Behavior
note_id generates

[2022-02-16 16:33] aethanol opened #534 "Release v0.2.1"
**Is your feature request related to a problem? Please describe.**
A fix to grpc-gateway was recently merged which fixes the openapi spec generated. https://github.com/grafeas/grafeas/pull/532
We are currently generating client based on the master commit, but would be better for us to tag to 0.2.1 with the changes.

**Describe the solution you'd like**
Tag v0.2.1

[2022-02-21 08:39] ljy020516 commented on #363
Excuse me, I have the same problem, but I did use it v0.1.0,Is there a new version now？

[2022-02-21 08:40] ljy020516 commented on #363
@kellyp @aysylu

[2022-02-21 08:45] ljy020516 commented on #363
@aysylu has it changed to v0.2.0?

[2022-02-21 08:45] ljy020516 commented on #363
@aysylu has it changed to v0.2.0 already?

[2022-02-22 16:51] aysylu commented on #363
@wkozlik: could you please help? I'm no longer a maintainer, @ljy020516

[2022-02-23 15:06] wkozlik commented on #363
v0.2.1 is available now.

[2022-03-02 15:36] wkozlik commented on #534
Tag 0.2.1 created

[2022-03-14 22:52] chuangw6 opened #538 "Use Grafeas v1 API"
**Is your feature request related to a problem? Please describe.**
Hi team,
We want to use Grafeas v1 API in our open source project (tekton chains) but it seems not available on pkg.go.dev.

**Describe the solution you'd like**
We notice that `proto/v1/*_go_proto/` is [ignored](https://github.com/grafeas/grafeas/blob/d50efcd47604b2d35e7d6def168c9949304ca019/.gitignore#L9) in the .gitignore file.

[2022-03-21 18:55] alowayed commented on #538
Hey @chuangw6 ,

Seems you're right. #540 should fix this and introduce the go protos you need. This will be auto-closed once it's merged.

[2022-03-21 19:06] #538 closed

[2022-06-02 10:47] th3w4y commented on #533
is the note referred by the occurrence existing at the time of the occurrence creation?

[2022-09-07 18:53] aethanol opened #558 "Note ID can be created with / in the id, but not queried"
## Expected Behavior
Either you can: both create and query a note with a slash in the ID, or do neither.

## Actual Behavior
You can create a note with slash in the ID, but not query it.

## Steps to Reproduce the Problem

[code]
[code]